<!-- PRIMEIRO TEXTO -->

<h1 style="text-align: center; color:#fff"><b>O SIGeo</b></h1>
<div class="textdescription" style="text-align: center; color:#fff;">
  <p style="text-align: justify;"><br></p>
  <p style="text-align: justify;">O <b>Sistema de Gestão da Geoinformação </b>é um sistema desenvolvido pela prefeitura
    de Niterói designado a fazer o gerenciamento dos dados geoespaciais do município. Iniciou-se em 2016 quando, através
    do Programa de Desenvolvimento Urbano e Inclusão Social de Niterói - PRODUIS, junto com o Banco Interamericano de
    Desenvolvimento, foi definido o desenvolvimento e implantação do Sistema de Gestão da Geoinformação para englobar o
    Cadastro Técnico Multifinalitário (CTM). </p>
  <p style="text-align: justify;">Sua criação esteve vinculada à Vice-Prefeitura. Posteriormente integrou a Secretaria
    Executiva, o organograma da Secretaria Municipal de Planejamento, Orçamento e Modernização da Gestão e também
    o&nbsp;Escritório de Gestão de Projetos (EGP). Hoje compõe o organograma da&nbsp; Empresa Municipal de Moradia,
    Urbanização e Saneamento (EMUSA). Durante todo esse período, o projeto ampliou sua atuação e encontra-se presente em
    parte significativa do plano de metas apresentado na reunião dos gestores.</p>
  <p style="text-align: justify;">A consolidação do SIGeo representa o fortalecimento da cultura de <b>tornar Niterói
      uma cidade inteligente. Isso porque se utiliza dos recursos tecnológicos para melhorar a eficiência
      político-econômica no apontamento de políticas públicas,</b> visando o desenvolvimento urbano e social para
    promoção de qualidade de vida à população. Tendo em vista o aumento das demandas e atribuições frequentes para a
    implantação de Geosoluções ao Município de Niterói, o SIGeo torna-se cada vez mais presente no cotidiano da
    administração municipal. </p>
  <p style="text-align: justify;">O conhecimento territorial é um facilitador da gestão pública e sua importância vem
    crescendo no mundo inteiro. Através dele é possível melhorar o planejamento e a tomada de decisão em diferentes
    áreas, como, por exemplo, na regularização do cadastro multifinalitário, na receita de arrecadação da Administração,
    na prevenção de eventos naturais e/ou antrópicos. Além de auxiliar organização e integração dos dados, o SIGeo os
    disponibiliza para consulta da população através do portal de dados abertos e do SIG-Web, fomentando a transparência
    da informação.</p>
  <p style="text-align: justify;">Além disso, o reconhecimento do SIGeo na implementação de geotecnologias e
    desenvolvimento de projetos no município despertou a curiosidade de diversas prefeituras do Brasil, como foi o caso
    de Belo Horizonte, Salvador, Palmas, Santa Catarina, Rio de Janeiro (Câmara Metropolitana), entre outras, que viram
    nesse modelo de sistema um exemplo para o desenvolvimento de projetos locais em suas cidades.</p>
</div>