<div class="aero2014Downloads_section">
    <div class="aero2014Downloads_main">
        <h3 id="aero2014Downloads_description">Faça o download dos mosaicos completos escolhendo uma das opções abaixo
            ou utilize o mapa para baixar um quadrante específico:
        </h3>
        <div class="aero2014Downloads_options">
            <div class="downloadOption">
                <p class="downloadOption_text">Ortofoto:</p>
                <div class="downloadOption_buttons">
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/mosaico_completo_ecw.rar"
                            rel="noopener noreferrer">ECW
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                </div>
            </div>
            <div class="downloadOption">
                <p class="downloadOption_text">Curvas de Nível:</p>
                <div class="downloadOption_buttons">
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/shp/MOSAICO_CN_2014.zip"
                            rel="noopener noreferrer">Shapefile
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/dwg/MOSAICO_CN_2014.zip"
                            rel="noopener noreferrer">DWG
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                </div>
            </div>
            <div class="downloadOption">
                <p class="downloadOption_text">Modelo Digital de Elevação (.TIF):</p>
                <div class="downloadOption_buttons">
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mds/MDS_2014.zip"
                            rel="noopener noreferrer">MDS
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mdt/MDT_IDW_2014.zip"
                            rel="noopener noreferrer">MDT
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                </div>
            </div>
            <div class="downloadOption">
                <p class="downloadOption_text">Arquivos LAS (MDS):</p>
                <div class="downloadOption_buttons">
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mds/las/las2014_mds_parte1.zip"
                            rel="noopener noreferrer">Parte
                            1
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mds/las/las2014_mds_parte2.zip"
                            rel="noopener noreferrer">Parte
                            2
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mds/las/las2014_mds_parte3.zip"
                            rel="noopener noreferrer">Parte
                            3
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mds/las/las2014_mds_parte4.zip"
                            rel="noopener noreferrer">parte
                            4
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                </div>
            </div>
            <div class="downloadOption">
                <p class="downloadOption_text">Arquivos LAS (MDT):</p>
                <div class="downloadOption_buttons">
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mdt/las/las2014_mdt_parte1.zip"
                            rel="noopener noreferrer">Parte
                            1
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mdt/las/las2014_mdt_parte2.zip"
                            rel="noopener noreferrer">Parte
                            2
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mdt/las/las2014_mdt_parte3.zip"
                            rel="noopener noreferrer">Parte
                            3
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                    <div class="downloadOption_button">
                        <a class="downloadOption_buttonText"
                            href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mdt/las/las2014_mdt_parte4.zip"
                            rel="noopener noreferrer">parte
                            4
                            <img class="downloadOption_buttonIcon"
                                src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/download-icon.png"
                                alt="ícone de download">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .aero2014Downloads_section {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-family: 'Poppins';
        margin-bottom: 40px;
    }

    .aero2014Downloads_main {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    #aero2014Downloads_description {
        text-align: center;
        font-weight: 400 !important;
        font-size: 18px;
        color: #d9d9d9;
        font-family: 'Poppins';
        line-height: 130%;
        max-width: 800px;
        margin: 0px !important;
    }

    .aero2014Downloads_options {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 18px;
        align-items: center;
    }

    .downloadOption {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #d9d9d9;
        margin: 0px !important;
    }

    .downloadOption_text {
        margin: 0 !important;
        font-size: 16px;
        font-weight: 400 !important;
        text-align: center;
    }

    .downloadOption_buttonText {
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 5px;
        color: #d9d9d9;
        background: rgba(153, 153, 153, 0.6);
        padding: 5px 10px;
        border-radius: 30px;
        transition: all .5s ease-out;
        width: fit-content;
    }

    .downloadOption_buttonText:hover {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #d9d9d9;
        background: #B8591F;
        padding: 5px 10px;
        border-radius: 30px;
    }

    .downloadOption_buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .downloadOption_buttonIcon {
        width: 21px;
    }

    @media(max-width: 770px) {
        #aero2014Downloads_description {
            max-width: 700px;
        }

        .downloadOption_button a {
            font-size: 16px;
        }
    }

    @media (max-width: 465px) {
        .aero2014Downloads_section {
            margin-bottom: 30px;
        }

        .downloadOption {
            flex-direction: column;
        }

        .downloadOption_buttons {
            width: 300px;
        }
    }

    @media (max-width: 320px) {
        #aero2014Downloads_description {
            font-size: 16px;
        }
    }
</style>