<center>
  <a href="https://www.sigeo.niteroi.rj.gov.br/"> <img class="img-responsive" width="300px"
      src="https://lh3.googleusercontent.com/pw/AP1GczPo4UgxubhITwIDhMfxcy-YYBIdaWMnz4sBm_sYph2RhzM69zzg0Gg68pMDQtmX4HJiutxOL5rm1MqH87gcSPBrwNigei7pMVPkJnnfhaClTS_yvziTUj4JB_jHlWUG9jw7brHaWiqY9ejQjG-LmLPb=w697-h236-s-no-gm?authuser=3"
      alt="hubsigeo">
  </a>
</center>

<h1 id="our-community" style="text-align: center;"><span
    style="background-color: initial; color: inherit; font-family: var(--fontsHeadingFamily),Avenir Next; font-size: var(--font-size-h1);">Sobre
    nós</span><br></h1>
<h5 style="text-align: center;">&nbsp;</h5>
<h5 style="text-align: center;">Saiba mais sobre o Sistema de Gestão da Geoinformação da Prefeitura de Niterói.</h5>