<!-- QUARTO CARD -->

<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
    <div class="calcite-web" style="padding:30px">
        <div class="card-base2">
            <div class="card-image-wrap"><img alt="guia de trilhas" class="card-image3"
                    src="https://lh3.googleusercontent.com/pw/AL9nZEUyeTXsTbkyJfvAsx04TbtEh8uEMg1oPfTDR_lJM5yBsWKeUEse_lWsOXMs0COB0z3nwRzdAGlrnWZctlmSFPp84_1OYZ5pBCw47XvtyxEh_-R6MjiZ2X6Az52ggjpsTuCbuB1ERiDfKSTJbK1Bt-IP=w480-h270-no?authuser=2"
                    style="text-align: center; font-family: var(--fontsBaseFamily),Avenir Next;"></div>
            <div class="card-image-wrap">
                <div class="card-image-caption" style="text-align: center;"><b>
                        Nova Lei de Uso - Niterói
                    </b>
                </div>
            </div>
            <div class="card-content">
                <h4><span style="font-size: 14px;">Conheça a nova Lei Urbanística do município de Niterói através do
                        mapa de zonas de uso do solo.</span></h4>
                <div aria-label="actions" class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-default"
                        href="https://geoniteroi.maps.arcgis.com/apps/webappviewer/index.html?id=b186888f13ee4955a7d59ac1fc0e6a7e"
                        target="_blank">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- QUINTO CARD -->

<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
    <div class="calcite-web" style="padding:30px">
        <div class="card-base2">
            <div class="card-image-wrap"><img alt="sala de situacao" class="card-image3"
                    src="https://lh3.googleusercontent.com/pw/AP1GczOvNlgbItL9zwU5UNnZnMtQboI03nFCH6nmmGPi4b6NKunGqfady8UZ35fe-PFKFwMNdQ1V_K4y7ruzzMQJAv5fqtGiIrHvGNtGgvHvTLWg4tPBrbrGKkwxUK3yCBEvGu8vCUSISXwFtf7ohogr_W3I=w1707-h966-s-no?authuser=0"
                    style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
            </div>
            <div class="card-image-wrap">
                <div class="card-image-caption" style="text-align: center;"><b>
                        Hub Sala de Situação
                    </b>
                </div>
            </div>
            <div class="card-content">
                <h4><span style="font-size: 14px;"> Centraliza dados, documentos e painéis sobre saúde pública,
                        oferecendo acesso a informações para a população.</span></h4>
                <div aria-label="actions" class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-default" href="https://www.saladesituacao.niteroi.rj.gov.br/"
                        target="_blank">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SEXTO CARD -->

<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
    <div class="calcite-web" style="padding:30px">
        <div class="card-base2">
            <div class="card-image-wrap">
                <img alt="niterói em 3D" class="card-image3"
                    src="https://lh3.googleusercontent.com/pw/AP1GczOMCXK5LPeQSq8jeLIu_w5dyR-8pyIvraWSqHQTt97tMrUdMNbd-AVV0NaRjOlquZT8W09Iz2LQhHGGWYKQeJ5NtvY_XeFnlJNoxLoY8jF5VleG6xYaLFSovpUigb3rJE2YSD4u-hf7N7EeyZYtcIb8=w1366-h768-s-no?authuser=0"
                    style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                <div class="card-image-caption" style="text-align: center;"><b>Painel de Arvóres Públicas</b></div>
            </div>
            <div class="card-content">
                <h4><span style="font-size: 14px;">Pensado para possibilitar o acompanhamento da conservação das árvores
                        urbanas, em parceria com a SECONSER.</span></h4>
                <div aria-label="actions" class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-default"
                        href="https://sig.niteroi.rj.gov.br/portal/apps/dashboards/8ea2803e8bc349828a6347b690a53161"
                        target="_blank">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-base2 {
        display: inline-block;
        width: 360px;
        max-width: 435px !important;
        height: 375px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }


    .card-image3 {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    @media (max-width:992px) {
        .card-base2 {
            height: auto !important;
        }
    }
</style>