<div class="highlightSection">
    <div class="highlightSection_main">
        <div class="highlightCard">
            <div class="highlightCard_image">
                <img alt="site HUB conta incêndios" class="card-image3"
                    src="https://lh3.googleusercontent.com/pw/AP1GczO8E_lrs-39LBATy67N9o3DTjr081k6s2BsTlNxlaQ0fM66HGxhX9vUieRoHKfXMjtV99WhP4xw332VC0oThC44zIGlz0ZUWbwEpL-HLY-iYc0rrikEHQtRCczfuvedLYXcffv287R0zytfLv-o-gBx=w1850-h749-s-no-gm?authuser=0">
            </div>
            <div class="highlightcard_title">
                <b>Portal Niterói Contra Queimadas</b>
            </div>
            <div class="highlightCard_content">
                <h4 class="highlightCard_description">
                    Portal criado em parceria com a SMDCG para monitoramento em tempo real dos focos de incêndio em
                    Niterói.
                </h4>
                <div aria-label="actions" class="highlightCard_button" role="group">
                    <a class="highlightCard_link"
                        href="https://geoniteroi.maps.arcgis.com/apps/webappviewer/index.html?id=b186888f13ee4955a7d59ac1fc0e6a7e"
                        target="_blank">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: antiquewhite;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

    .highlightSection {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .highlightCard {
        display: flex;
        flex-direction: column;
        /*width: 500px;*/
        max-width: 80%;
        height: 100%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border-radius: 10px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .highlightSection_main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .highlightCard_image {
        width: 100%;
        object-fit: cover;
    }

    .highlightCard_image img {
        border-radius: 10px 10px 0 0;
        width: 100%;
    }

    .highlightcard_title {
        background-color: #D8D8D8;
        color: #001A2D;
        padding: 10px;
        text-align: center;
    }

    .highlightCard_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.0rem;
        gap: 1.0rem;
    }

    .highlightCard_description {
        font-size: 15px;
    }

    .highlightCard_button {
        background-color: #B8591F;
        width: 100%;
        padding: 10px;
        text-align: center;
        border: none;
        border-radius: 10px;
        transition: all .5s ease-out;
    }

    .highlightCard_button:hover {
        background-color: #f78640;
        cursor: pointer;
    }

    .highlightCard_button a {
        text-decoration: none !important;
        color: #001A2D;
        width: 100%;
        display: block;
    }
</style>