<!-- PRIMEIRO CARD -->  

<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="calcite-web">
       <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
             <img alt="novos negocios" class="card-image" 
             src="https://lh3.googleusercontent.com/pw/AL9nZEWic_MfGbHJwgyiFrjwlvU8aooEqs3HSmpcWE7NYzwp8_2w0dAwHTaguLjvENhABxHCJcpu5tXaM7Zj_-kFlTaB4bUI3w2Ff_yfYC-BAjBe0w2s0dSPyT9h-YL5s-MDVZZnunl_6wX6Ty6055oAHa3m=w480-h270-no?authuser=1" 
             style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
             <div class="card-image-caption" style="text-align: center;"><b>Niterói Solar</b></div>
          </div>
          <div class="card-content">
             <h4><span style="font-size: 14px;">Site para visualização dos dados referentes ao potencial fotovoltaico das edificações do município.</span></h4>
             <div aria-label="actions" class="btn-group btn-group-justified" role="group">
                <a class="btn btn-default" href="https://solar.niteroi.rj.gov.br/" target="_blank">Saiba mais</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 <!-- SEGUNDO CARD -->  
 
 <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="calcite-web">
       <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
             <img alt="novos negocios" class="card-image" src="https://lh3.googleusercontent.com/pw/AL9nZEWz1Ppa4E1dFCBicMA1hgp6ovkZZHBnLuacXcOPY4hYiosZUYmIQ5C_JtTi-0dnEFQRMLlMOdx7y8DzZCaZ8e_NQ_qvoVkHfLvpm9UovxaqrvzQX8mgORoC_VvWOCUnVaeoRDYaSJv0lgk0TdjkZz0B=w480-h270-no?authuser=1" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
             <div class="card-image-caption" style="text-align: center;"><b>Niterói nos Censos</b></div>
          </div>
          <div class="card-content">
             <h4><span style="font-size: 14px;">Plataforma que reúne dados públicos dos censos produzidos pelo IBGE através de categorias.</span></h4>
             <div aria-label="actions" class="btn-group btn-group-justified" role="group">
                <a class="btn btn-default" href="https://censos.niteroi.rj.gov.br/" target="_blank">Saiba mais</a>
             </div>
          </div>
       </div>
    </div>
 </div>
     
     <!-- TERCEIRO CARD -->       
      
       <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
       <div class="calcite-web">
         <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
           <div class="card-image-wrap">
             <img alt="niterói em 3D" class="card-image" src="https://lh3.googleusercontent.com/pw/AM-JKLUhmkPHrDq619BPnF01DB-uZVeswSY5oLpTFHD3rlyLsSKoGbm0Ub7p62-wIMQBIi2WBMRrONrOkhYs4ZqSkIhmm4ffV6o6QWTcxKN6oRFkFMXDQCt3-lZ1X2056FT8DqfAGrJ-CuqxG5jHC3vGxYre=w480-h270-no?authuser=2" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
             <div class="card-image-caption" style="text-align: center;"><b>Oceano que Queremos</b></div>
           </div>
           <div class="card-content">
             <h4><span style="font-size: 14px;">Obtenha informações sobre a Agenda 2030 e sobre as iniciativas desenvolvidas ligados ao tema.</span></h4>
             <div aria-label="actions" class="btn-group btn-group-justified" role="group">
               <a class="btn btn-default" href="https://oceanoquequeremos.niteroi.rj.gov.br" target="_blank">Saiba mais</a>
             </div>
           </div>
         </div>
       </div>
     </div>
     
 
 <!-- QUARTO CARD -->  
     
 <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="calcite-web">
       <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap"><img alt="guia de trilhas" class="card-image" src="https://lh3.googleusercontent.com/pw/AM-JKLVXUTWj5M75VuWYhreub6ntjxUzwjSYkEQBoVo9w0SfUs9rEydbV0PkmJjSZ4OfQ3kVKn0_d5lK-XAb0Bj-K_Vf5OnUDc9avtXdw-ul6Tp1djJuTptq92lmN-LYntrbXN-RXzEnfGuOn5dP5wckFSti=w480-h270-no?authuser=2" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div>
          <div class="card-image-wrap">
             <div class="card-image-caption" style="text-align: center;"><b>
                Guia de Trilhas Niterói
                </b>
             </div>
          </div>
          <div class="card-content">
             <h4><span style="font-size: 14px;">Apresentação guiada das trilhas nos parques urbanos e Unidades de Conservação.</span></h4>
             <div aria-label="actions" class="btn-group btn-group-justified" role="group">
                <a class="btn btn-default" href="https://experience.arcgis.com/experience/075d389845d841a8a59bed70d8bd6ff8/page/page_0/?views=view_1%2Cview_102%2Cview_1" target="_blank">Saiba mais</a>
             </div>
          </div>
       </div>
    </div>
 </div>
       
 <!-- QUINTO CARD -->       
      
 <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="calcite-web">
       <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
             <img alt="niterói em 3D" class="card-image" src="https://lh3.googleusercontent.com/pw/AM-JKLWdpfBvNTW4UhAUrPT5_ZoxmRnqm3JXTNkXUeyF9qU3nYnS6feURxppF6iiO15XTocShrfclijatUUVVsLmZ7xMlywJy2oEmGFfJ486514aTJeUDYtPoJk2S5wsCierRRMcYi36h2GF5ryuWTgYCN19=w480-h270-no?authuser=2" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
             <div class="card-image-caption" style="text-align: center;"><b>Niterói em 3D </b></div>
          </div>
          <div class="card-content">
             <h4><span style="font-size: 14px;">Navegue pela cidade em 3D simbolizada pelo número de pavimentos de cada construção.&nbsp;</span></h4>
             <div aria-label="actions" class="btn-group btn-group-justified" role="group">
                <a class="btn btn-default" href="https://3d.niteroi.rj.gov.br" target="_blank">Saiba mais</a>
             </div>
          </div>
       </div>
    </div>
 </div>
     
       
 <style>
   
 .card-base2 {
   display: inline-block;
   /*width: 380px*/
   max-width: 445px !important;
   height: 375px;
   margin: 0 auto;
 }
 
 
 .card-image {
   width: 380px;
   height: 200px;
 }
 
 @media (max-width:992px) {
   .card-base2 {
     height: auto !important;
   }
 }
 
 </style>