<div class="latestReleasesCards_section">
  <div class="latestRealeaseCard" style="padding: 20px">
    <div class="calcite-web">
      <a href="https://arcg.is/088Tny0" target="_blank">
        <div class="card-base2">
          <div class="card-image-wrap">
            <img alt="VLT Niterói" class="card-image3"
              src="https://lh3.googleusercontent.com/pw/AP1GczNhENJ9tb9vi_xMSFPgdmvSXAN-D1PdYDphOyAhGIdkJ8MYU_n5bWGiH76zCtYafJ_CDA4_zju6gm2OqBn6dhYxts04LCTFd5hdZiT8d6RW-1O7hCl-23C9ZrPbJfKDzNxt0JcbaxMbnlBOMN53P4kb=w1750-h919-s-no-gm?authuser=0"
              style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
            <div class="card-image-caption" style="text-align: center;"><b>VLT - Niterói</b></div>
          </div>
          <div class="card-content">
            <h4><span style="font-size: 14px;">Projeto desenvolvido pela SMU em 2013, tem como objetivo apresentar a
                proposta do projeto do VLT em Niterói para a população.</span></h4>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="latestRealeaseCard" style="padding: 20px">
    <div class="calcite-web">
      <div class="card-base2">
        <a href="https://niteroicontraqueimadas.niteroi.rj.gov.br/" target="_blank">
          <div class="card-image-wrap">
            <img alt="HUB Niterói contra queimadas" class="card-image3"
              src="https://lh3.googleusercontent.com/pw/AP1GczO8E_lrs-39LBATy67N9o3DTjr081k6s2BsTlNxlaQ0fM66HGxhX9vUieRoHKfXMjtV99WhP4xw332VC0oThC44zIGlz0ZUWbwEpL-HLY-iYc0rrikEHQtRCczfuvedLYXcffv287R0zytfLv-o-gBx=w1850-h749-s-no-gm?authuser=0"
              style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
            <div class="card-image-caption" style="text-align: center;"><b>HUB Niterói contra Queimadas</b></div>
          </div>
          <div class="card-content">
            <h4><span style="font-size: 14px;">Portal criado em parceria com a SMDCG para monitoramento em tempo real
                dos
                focos de incêndio em Niterói.</span></h4>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="latestRealeaseCard" style="padding: 20px">
    <div class="calcite-web">
      <div class="card-base2">
        <a href="https://arcg.is/10PP5q0" target="_blank">
          <div class="card-image-wrap">
            <img alt="Plano Niterói 450 Anos" class="card-image3"
              src="https://lh3.googleusercontent.com/pw/AP1GczOIf2JMCXhk42zKFKI01qov33ELpWU9kTvUyO_H4_oIU7GP1tIUXGZ_a8OwrFwq3amrHvBjpO_DOxWxwz3_jRPnDl8L8LgYZ0sQNdOCquQgdzUaOjMCKaAnad8o9QE8rXeN-6crVj2wf-XFS5Rxf8MM=w1685-h919-s-no-gm?authuser=0"
              style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
            <div class="card-image-caption" style="text-align: center;"><b>Plano Niterói 450 Anos</b></div>
          </div>
          <div class="card-content">
            <h4><span style="font-size: 14px;">StoryMap contendo as principais intervenções realizadas em diferentes
                regiões
                da cidade no âmbito do plano Niterói 450 anos.</span></h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<style>
  .latestReleasesCards_section {
    display: flex;
    justify-content: center;
  }

  .latestRealeaseCard {
    display: felx;
    justify-content: center;
  }

  .card-base2 {
    display: inline-block;
    max-width: 350px !important;
    height: 330px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all .5s ease-out;
  }

  .card-base2:hover {
    transform: scale(1.05);
  }

  .card-image3 {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  @media (max-width: 1440px) {
    .card-base2 {
      width: 330px;
    }
  }

  @media (max-width: 1139px) {
    .card-base2 {
      width: 280px;
      height: 350px;
    }
  }

  @media (max-width: 989px) {
    .card-base2 {
      width: 260px;
      height: 380px;
    }
  }

  @media (max-width: 939px) {

    .latestReleasesCards_section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .card-base2 {
      width: fit-content;
      height: 370px;
    }
  }

  @media (max-width: 599px) {

    .latestReleasesCards_section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-base2 {
      width: fit-content;
      height: 330px;
    }
  }

  @media (max-width: 395px) {

    .card-base2 {
      height: fit-content;
    }
  }
</style>