<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">

    <div class="container-fluid">
      <!-- This is what generates your burger menu icon on mobile -->
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="pageInitAncor" href="https://www.sigeo.niteroi.rj.gov.br/"><img id="logoSIGeo" alt="logo SIGeo"
            src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/logos_novas/Logo_Branca.png"></a>
      </div>

      <!-- This is what gets hidden behind the burger menu icon -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="https://www.sigeo.niteroi.rj.gov.br/pages/sobre">Quem Somos</a>
          </li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conteúdo <span
                class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://www.sigeo.niteroi.rj.gov.br/pages/aplicacoes">Aplicações e Painéis</a></li>
              <li><a href="https://www.sigeo.niteroi.rj.gov.br/pages/ortofotos">Ortofotos</a></li>
              <li><a href="https://www.sigeo.niteroi.rj.gov.br/pages/dados-abertos">Dados Abertos</a></li>
              <li><a href="https://experience.arcgis.com/experience/11d179ccba3949828f3dbac2bc8b0ce7">Geoportal</a></li>
              <li><a href="https://www.sigeo.niteroi.rj.gov.br/pages/servicos">Serviços</a></li>
              <li><a href="https://www.sigeo.niteroi.rj.gov.br/pages/mapas">Mapas</a></li>
              <li><a
                  href="https://drive.google.com/u/0/uc?id=1LKoH0e5JiBIBrup1a7g1OuXDayPUpUAw&export=download">Metadados</a>
              </li>
              <li><a href="https://github.com/SIGeo-Niteroi">Códigos Públicos</a></li>
            </ul>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!--temporario-->
          <li id="servidoresButton"><a href="https://sig.niteroi.rj.gov.br/portal/apps/sites/#/sigeo-servidor">Portal do
              servidor</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

  </nav>

</body>

</html>