<center>
  <a href="https://www.sigeo.niteroi.rj.gov.br/"> <img class="img-responsive" width="300px"
      src="https://lh3.googleusercontent.com/pw/AP1GczPo4UgxubhITwIDhMfxcy-YYBIdaWMnz4sBm_sYph2RhzM69zzg0Gg68pMDQtmX4HJiutxOL5rm1MqH87gcSPBrwNigei7pMVPkJnnfhaClTS_yvziTUj4JB_jHlWUG9jw7brHaWiqY9ejQjG-LmLPb=w697-h236-s-no-gm?authuser=3"
      alt="hubsigeo">
  </a>
</center>

<center><br>

  <span class="visible-md visible-lg" style="padding: 20px">

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/aplicacoes" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLUsBPy1_WxPTGBqMyQuIfA80IeaYE7BtKsXh1-AaX_yTGBihh4ycZkKadZzSHCxVORsSF3QER2KlzQFAzQpTr8-qsIzeS8DAIuxg9a3ic9-N4oSVjWgjNUxG20g8tlbKkTI2MxN6qFKWBTiRpMRmAS2=s512-no?authuser=2"
        height="40px" alt="">
      Painéis e Aplicações
    </a>

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/ortofotos" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLXb0QFAywu7IVWWPivAHkA_pc77VqkEDrbCZJWwE1U45L-4V9IMPuRt7n4q9lGhjT7qCGw-kxSSckYG2BpceffuTnD1YSKwzVYp85heVN7BW0N5G5SPzBlI0oWmOQLj6rZ4bb2uvAKgKdXNTzo2zdDK=s512-no?authuser=2"
        height="40px" alt="">
      Ortofotos
    </a>

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/dados-abertos" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(79,77,77,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLUWZXMEPwyaQyfqcdvxEdXC1fGcW0XAd8DfQZtonSiUBrIS0TZ1Q14mlPEVKxABztAOpmPwKLH01fRJCPZKdyLYwEu1Bb-0P4AYiIFbrsVBYhfyczlMslkVl9RKoFYXyeZajwHJRxgjtkXG8FVtafD3=s512-no?authuser=2"
        height="40px" alt="">
      Dados abertos
    </a>

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/geoportal" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLV6iEVArM2untcUS2z7RMljBf0VRTANc7-3IfVRi3IKM3z-gLN_6Y25sR2L4rZawGv_FWbBoYjSCb4M9Um86G3y2cKZLD5eAZU9XaB-ot52PTvkuatNfMIP4iaeNltjMArCFiRCR3yjvdg8Y51-hU9d=s512-no?authuser=2"
        height="40px" alt="">
      Geoportal
    </a>

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/servicos" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLX_qHIlCYTeNeR0O9a-xHpn4i-cMlOkAlwRD0Ea0iVr2rJdjScAAQ8F9S6e0o4uxkpnavV3OPLPHC36ntb5E19e3XNuuqUVfZwNLejMRiK8WEKKkrGnfPaY7URFW1hyTKsw-Zt77PgnyTjO-El3WzLa=s512-no?authuser=2"
        height="40px" alt="">
      Serviços
    </a>

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/mapas" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLVpkPHo3dKeIe3rr0XFflNiY8nz6R3Kuo2O0d-VmqQwS9UnOx6rU9_2Ixex0g-ChHu7Qtu5qo9wfSbpLna8u-u3wCPBkyccW1Gyt1cMKsXg7E9ByXxSnZ_0BVeCw-QJ3sxBmrK9n4WV6-ctx0JYuf6u=s512-no?authuser=2"
        height="40px" alt="">
      Mapas
    </a>

    <a href="https://drive.google.com/u/0/uc?id=1LKoH0e5JiBIBrup1a7g1OuXDayPUpUAw&amp;export=download" target="_blank"
      class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLVp64x-S9msnerwm16mgrLFcO7AhSy9ptXYS-NeFfBrKtjxW4yWvjZ_YpZG8UXToijq4QQu0PnM5Pf1r1SbigPYnKlAZSpwyMELVc9Y11pUjgNPy5P0igAiNIRiEncM8ywgGlKKB9TMID0nSkeHxyKR=s512-no?authuser=2"
        height="40px" alt="">
      Metadados
    </a>

    <a href="https://github.com/SIGeo-Niteroi" target="_blank" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AP1GczNkKpykfSRv5f9qyMSSPsuoK-WBzRkGPQXF0aN4FbTs3f1AWzl1WQj6xjsONUaDPyZRanVz3q4qSyXJibmATakSp5lD7N0gmxo94RqmP6hqnD9LD5RAy8aR04ThvuQt-eshl6o00j9xENvG0AuHFbAv=w128-h128-s-no-gm?authuser=3"
        height="40px" alt="">
      GitHub
    </a>

  </span>

  <!-- MOBILE --> <!-- MOBILE --> <!-- MOBILE --> <!-- MOBILE --> <!-- MOBILE --> <!-- MOBILE --> <!-- MOBILE -->

  <span class="hidden-md hidden-lg">

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/aplicacoes" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLUsBPy1_WxPTGBqMyQuIfA80IeaYE7BtKsXh1-AaX_yTGBihh4ycZkKadZzSHCxVORsSF3QER2KlzQFAzQpTr8-qsIzeS8DAIuxg9a3ic9-N4oSVjWgjNUxG20g8tlbKkTI2MxN6qFKWBTiRpMRmAS2=s512-no?authuser=2"
        height="40px" alt="">
    </a>

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/ortofotos" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLXb0QFAywu7IVWWPivAHkA_pc77VqkEDrbCZJWwE1U45L-4V9IMPuRt7n4q9lGhjT7qCGw-kxSSckYG2BpceffuTnD1YSKwzVYp85heVN7BW0N5G5SPzBlI0oWmOQLj6rZ4bb2uvAKgKdXNTzo2zdDK=s512-no?authuser=2"
        height="40px" alt="">
    </a>

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/dados-abertos" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(79,77,77,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLUWZXMEPwyaQyfqcdvxEdXC1fGcW0XAd8DfQZtonSiUBrIS0TZ1Q14mlPEVKxABztAOpmPwKLH01fRJCPZKdyLYwEu1Bb-0P4AYiIFbrsVBYhfyczlMslkVl9RKoFYXyeZajwHJRxgjtkXG8FVtafD3=s512-no?authuser=2"
        height="40px" alt="">
    </a>

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/geoportal" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLV6iEVArM2untcUS2z7RMljBf0VRTANc7-3IfVRi3IKM3z-gLN_6Y25sR2L4rZawGv_FWbBoYjSCb4M9Um86G3y2cKZLD5eAZU9XaB-ot52PTvkuatNfMIP4iaeNltjMArCFiRCR3yjvdg8Y51-hU9d=s512-no?authuser=2"
        height="40px" alt="">
    </a>

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/servicos" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLX_qHIlCYTeNeR0O9a-xHpn4i-cMlOkAlwRD0Ea0iVr2rJdjScAAQ8F9S6e0o4uxkpnavV3OPLPHC36ntb5E19e3XNuuqUVfZwNLejMRiK8WEKKkrGnfPaY7URFW1hyTKsw-Zt77PgnyTjO-El3WzLa=s512-no?authuser=2"
        height="40px" alt="">
    </a>

    <a href="https://www.sigeo.niteroi.rj.gov.br/pages/mapas" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLVpkPHo3dKeIe3rr0XFflNiY8nz6R3Kuo2O0d-VmqQwS9UnOx6rU9_2Ixex0g-ChHu7Qtu5qo9wfSbpLna8u-u3wCPBkyccW1Gyt1cMKsXg7E9ByXxSnZ_0BVeCw-QJ3sxBmrK9n4WV6-ctx0JYuf6u=s512-no?authuser=2"
        height="40px" alt="">
    </a>

    <a href="https://drive.google.com/u/0/uc?id=1LKoH0e5JiBIBrup1a7g1OuXDayPUpUAw&amp;export=download" target="_blank"
      class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLVp64x-S9msnerwm16mgrLFcO7AhSy9ptXYS-NeFfBrKtjxW4yWvjZ_YpZG8UXToijq4QQu0PnM5Pf1r1SbigPYnKlAZSpwyMELVc9Y11pUjgNPy5P0igAiNIRiEncM8ywgGlKKB9TMID0nSkeHxyKR=s512-no?authuser=2"
        height="40px" alt="">
    </a>

    <a href="https://github.com/SIGeo-Niteroi" target="_blank" class="btn btn-primary"
      style="color: #ffff; background-color: rgba(153,153,153,0.6); border: 5px; border-radius: 50px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AP1GczNkKpykfSRv5f9qyMSSPsuoK-WBzRkGPQXF0aN4FbTs3f1AWzl1WQj6xjsONUaDPyZRanVz3q4qSyXJibmATakSp5lD7N0gmxo94RqmP6hqnD9LD5RAy8aR04ThvuQt-eshl6o00j9xENvG0AuHFbAv=w128-h128-s-no-gm?authuser=3"
        height="40px" alt="">
    </a>

  </span>

</center>
<p style="text-align: center;"><br></p>
<h1 style="text-align: center;">Dados Abertos (OpenData)</h1>
<h5 style="text-align: center;"><br></h5>
<h5 style="text-align: center;">Acesse aqui documentos, planilhas e camadas de acesso público disponíveis para consulta
  e download.</h5>