<div class="titleSection">
  <div class="pageTitleAndDescription">
    <h1 id="pageTitle">
      Dados Abertos
    </h1>
    <p id="pageDescription">
      Acesse aqui documentos, planilhas e camadas de acesso público disponíveis para consulta e download.
    </p>
  </div>
</div>

<div class="navContainer">
  <center><br>

    <span class="visible-md visible-lg">

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/aplicacoes" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <div class="navAncorContent">
          <img
            src="https://lh3.googleusercontent.com/pw/AM-JKLUsBPy1_WxPTGBqMyQuIfA80IeaYE7BtKsXh1-AaX_yTGBihh4ycZkKadZzSHCxVORsSF3QER2KlzQFAzQpTr8-qsIzeS8DAIuxg9a3ic9-N4oSVjWgjNUxG20g8tlbKkTI2MxN6qFKWBTiRpMRmAS2=s512-no?authuser=2"
            height="40px" alt="">
          <p>
            Painéis e Aplicações
          </p>
        </div>
      </a>

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/ortofotos" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <div class="navAncorContent">
          <img
            src="https://lh3.googleusercontent.com/pw/AM-JKLXb0QFAywu7IVWWPivAHkA_pc77VqkEDrbCZJWwE1U45L-4V9IMPuRt7n4q9lGhjT7qCGw-kxSSckYG2BpceffuTnD1YSKwzVYp85heVN7BW0N5G5SPzBlI0oWmOQLj6rZ4bb2uvAKgKdXNTzo2zdDK=s512-no?authuser=2"
            height="40px" alt="">
          <p>
            Ortofotos
          </p>
        </div>
      </a>

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/dados-abertos" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(79,77,77,0.6); border-radius: 50px;">
        <div class="navAncorContent">
          <img
            src="https://lh3.googleusercontent.com/pw/AM-JKLUWZXMEPwyaQyfqcdvxEdXC1fGcW0XAd8DfQZtonSiUBrIS0TZ1Q14mlPEVKxABztAOpmPwKLH01fRJCPZKdyLYwEu1Bb-0P4AYiIFbrsVBYhfyczlMslkVl9RKoFYXyeZajwHJRxgjtkXG8FVtafD3=s512-no?authuser=2"
            height="40px" alt="ícone de dados abertos">
          <p>
            Dados abertos
          </p>
        </div>
      </a>

      <a href="https://experience.arcgis.com/experience%20/11d179ccba3949828f3dbac2bc8b0ce7" target="_blank" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <div class="navAncorContent">
          <img
            src="https://lh3.googleusercontent.com/pw/AM-JKLV6iEVArM2untcUS2z7RMljBf0VRTANc7-3IfVRi3IKM3z-gLN_6Y25sR2L4rZawGv_FWbBoYjSCb4M9Um86G3y2cKZLD5eAZU9XaB-ot52PTvkuatNfMIP4iaeNltjMArCFiRCR3yjvdg8Y51-hU9d=s512-no?authuser=2"
            height="40px" alt="ícone de geoportal">
          <p>
            Geoportal
          </p>
        </div>
      </a>

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/servicos" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <div class="navAncorContent">
          <img
            src="https://lh3.googleusercontent.com/pw/AM-JKLX_qHIlCYTeNeR0O9a-xHpn4i-cMlOkAlwRD0Ea0iVr2rJdjScAAQ8F9S6e0o4uxkpnavV3OPLPHC36ntb5E19e3XNuuqUVfZwNLejMRiK8WEKKkrGnfPaY7URFW1hyTKsw-Zt77PgnyTjO-El3WzLa=s512-no?authuser=2"
            height="40px" alt="ícone de serviços">
          <p>
            Serviços
          </p>
        </div>
      </a>

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/mapas" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <div class="navAncorContent">
          <img
            src="https://lh3.googleusercontent.com/pw/AM-JKLVpkPHo3dKeIe3rr0XFflNiY8nz6R3Kuo2O0d-VmqQwS9UnOx6rU9_2Ixex0g-ChHu7Qtu5qo9wfSbpLna8u-u3wCPBkyccW1Gyt1cMKsXg7E9ByXxSnZ_0BVeCw-QJ3sxBmrK9n4WV6-ctx0JYuf6u=s512-no?authuser=2"
            height="40px" alt="ícone de mapas">
          <p>
            Mapas
          </p>
        </div>
      </a>

      <a href="https://drive.google.com/u/0/uc?id=1LKoH0e5JiBIBrup1a7g1OuXDayPUpUAw&amp;export=download" target="_blank"
        class="btn btn-primary" style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <div class="navAncorContent">
          <img
            src="https://lh3.googleusercontent.com/pw/AM-JKLVp64x-S9msnerwm16mgrLFcO7AhSy9ptXYS-NeFfBrKtjxW4yWvjZ_YpZG8UXToijq4QQu0PnM5Pf1r1SbigPYnKlAZSpwyMELVc9Y11pUjgNPy5P0igAiNIRiEncM8ywgGlKKB9TMID0nSkeHxyKR=s512-no?authuser=2"
            height="40px" alt="ícone de metadados">
          <p>
            Metadados
          </p>
        </div>
      </a>

      <a href="https://github.com/SIGeo-Niteroi" target="_blank" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <div class="navAncorContent">
          <img src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/developer-icon.png" height="40px"
            alt="ícone de códigos públicos">
          <p>
            Códigos Públicos
          </p>
        </div>
      </a>

    </span>

    <!-- MOBILE --> <!-- MOBILE --> <!-- MOBILE --> <!-- MOBILE --> <!-- MOBILE --> <!-- MOBILE --> <!-- MOBILE -->

    <span class="hidden-md hidden-lg">

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/aplicacoes" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <img
          src="https://lh3.googleusercontent.com/pw/AM-JKLUsBPy1_WxPTGBqMyQuIfA80IeaYE7BtKsXh1-AaX_yTGBihh4ycZkKadZzSHCxVORsSF3QER2KlzQFAzQpTr8-qsIzeS8DAIuxg9a3ic9-N4oSVjWgjNUxG20g8tlbKkTI2MxN6qFKWBTiRpMRmAS2=s512-no?authuser=2"
          height="40px" alt="">
      </a>

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/ortofotos" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(79,77,77,0.6); border-radius: 50px;">
        <img
          src="https://lh3.googleusercontent.com/pw/AM-JKLXb0QFAywu7IVWWPivAHkA_pc77VqkEDrbCZJWwE1U45L-4V9IMPuRt7n4q9lGhjT7qCGw-kxSSckYG2BpceffuTnD1YSKwzVYp85heVN7BW0N5G5SPzBlI0oWmOQLj6rZ4bb2uvAKgKdXNTzo2zdDK=s512-no?authuser=2"
          height="40px" alt="">
      </a>

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/dados-abertos" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <img
          src="https://lh3.googleusercontent.com/pw/AM-JKLUWZXMEPwyaQyfqcdvxEdXC1fGcW0XAd8DfQZtonSiUBrIS0TZ1Q14mlPEVKxABztAOpmPwKLH01fRJCPZKdyLYwEu1Bb-0P4AYiIFbrsVBYhfyczlMslkVl9RKoFYXyeZajwHJRxgjtkXG8FVtafD3=s512-no?authuser=2"
          height="40px" alt="">
      </a>

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/geoportal" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <img
          src="https://lh3.googleusercontent.com/pw/AM-JKLV6iEVArM2untcUS2z7RMljBf0VRTANc7-3IfVRi3IKM3z-gLN_6Y25sR2L4rZawGv_FWbBoYjSCb4M9Um86G3y2cKZLD5eAZU9XaB-ot52PTvkuatNfMIP4iaeNltjMArCFiRCR3yjvdg8Y51-hU9d=s512-no?authuser=2"
          height="40px" alt="">
      </a>

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/servicos" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <img
          src="https://lh3.googleusercontent.com/pw/AM-JKLX_qHIlCYTeNeR0O9a-xHpn4i-cMlOkAlwRD0Ea0iVr2rJdjScAAQ8F9S6e0o4uxkpnavV3OPLPHC36ntb5E19e3XNuuqUVfZwNLejMRiK8WEKKkrGnfPaY7URFW1hyTKsw-Zt77PgnyTjO-El3WzLa=s512-no?authuser=2"
          height="40px" alt="">
      </a>

      <a href="https://www.sigeo.niteroi.rj.gov.br/pages/mapas" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <img
          src="https://lh3.googleusercontent.com/pw/AM-JKLVpkPHo3dKeIe3rr0XFflNiY8nz6R3Kuo2O0d-VmqQwS9UnOx6rU9_2Ixex0g-ChHu7Qtu5qo9wfSbpLna8u-u3wCPBkyccW1Gyt1cMKsXg7E9ByXxSnZ_0BVeCw-QJ3sxBmrK9n4WV6-ctx0JYuf6u=s512-no?authuser=2"
          height="40px" alt="">
      </a>

      <a href="https://drive.google.com/u/0/uc?id=1LKoH0e5JiBIBrup1a7g1OuXDayPUpUAw&amp;export=download" target="_blank"
        class="btn btn-primary" style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <img
          src="https://lh3.googleusercontent.com/pw/AM-JKLVp64x-S9msnerwm16mgrLFcO7AhSy9ptXYS-NeFfBrKtjxW4yWvjZ_YpZG8UXToijq4QQu0PnM5Pf1r1SbigPYnKlAZSpwyMELVc9Y11pUjgNPy5P0igAiNIRiEncM8ywgGlKKB9TMID0nSkeHxyKR=s512-no?authuser=2"
          height="40px" alt="">
      </a>

      <a href="https://github.com/SIGeo-Niteroi" target="_blank" class="btn btn-primary"
        style="color: #ffff; background-color: rgba(153,153,153,0.6); border-radius: 50px;">
        <img src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/developer-icon.png" height="40px" alt="">
      </a>

    </span>

  </center>
</div>

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
  }

  a {
    margin: 0 !important;
    line-height: normal !important;
    text-decoration: none !important;
    outline: none !important;
    /* Retirar as margens e ligh-height de padrão do HUB nos elemntos*/
  }

  .titleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px 0px;
    gap: 30px;
  }

  .pageTitleAndDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .pageTitleAndDescription h1,
  .pageTitleAndDescription p {
    text-align: center;
    font-family: Poppins;
  }

  #pageTitle {
    font-size: 70px;
    font-weight: 600;
    line-height: 80px !important;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    margin: 0px !important;
    color: #ffff;
  }

  #pageDescription {
    font-weight: 200;
    font-size: 18px;
    max-width: 900px;
    padding: 0 !important;
    color: #ffff;
  }

  .navContainer {
    padding: 0px 0px 50px;
  }

  .visible-lg a {
    margin: 7px !important;
    border: none !important;
    transition: all .5s ease-out;
  }

  .visible-lg a:hover {
    transform: scale(1.05);
  }

  .hidden-lg a {
    margin: 5px !important;
    border: none !important;
  }

  .navAncorContent {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 3px;
  }

  .navAncorContent p {
    margin: 0px;
  }

  @media(max-width: 550px) {
    #pageTitle {
      font-size: 50px;
      line-height: 70px !important;
    }

    .titleSection {
      padding: 80px 0px 30px;
    }
  }
</style>