<div class="municipalGovernmentServices_section">
  <h2>Veja outros serviços disponibilizados.</h2>
  <p>Acesse os serviços oferecidos por diversos órgãos no <span>Portal de Serviços da Prefeitura Municipal de
      Niterói</span>,
    clicando no botão abaixo.</p>
  <div class="access_button">
    <a class="access_buttonText" href="https://servicos.niteroi.rj.gov.br/#/main/dyview" rel="noopener noreferrer"
      target="_blank">
      Acessar Portal
    </a>
  </div>
</div>

<style>
  .municipalGovernmentServices_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 100px 0px 50px 0px;
    color: #d9d9d9;
    font-family: "Poppins";
  }

  .municipalGovernmentServices_section h2 {
    text-align: center;
    font-weight: 700;
  }

  .municipalGovernmentServices_section p {
    text-align: center;
    font-size: 20px;
  }

  .municipalGovernmentServices_section p span {
    font-weight: 600;
    text-decoration: underline;
  }

  .access_buttonText {
    display: flex;
    justify-content: center;
    gap: 5px;
    color: #fff;
    background: #B8591F;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all .5s ease-out;
    width: 200px;
  }

  .access_buttonText:hover {
    color: #001A2D;
    background: #D67133;
  }

  @media(max-width: 767px) {
    .municipalGovernmentServices_section {
      margin: 60px 0px 80px 0px;
    }
  }

  @media(max-width: 320px) {
    .municipalGovernmentServices_section p {
      font-size: 16px;
    }
  }
</style>