<section class="theSigeoSection">
  <div class="theSigeoSection_main">
    <h1 id="theSigeoSection_title">O SIGeo</h1>
    <div class="theSigeoSection_body">
      <p>O <b>Sistema de Gestão da Geoinformação </b>é um setor da Prefeitura de Niterói voltado ao gerenciamento de
        dados geoespaciais do município. Criado em 2014 no âmbito do Programa de Desenvolvimento Urbano e Inclusão
        Social de Niterói (PRODUIS), em parceria com o Banco Interamericano de Desenvolvimento (BID), o SIGeo foi
        concebido para integrar e fortalecer o Cadastro Técnico Multifinalitário, promovendo uma base de informações
        robusta e confiável para a gestão municipal. </p>
      <p>Desde sua implantação, o SIGeo tem se destacado como um instrumento essencial para a modernização da gestão
        pública. Inicialmente vinculado à Vice-Prefeitura, o sistema posteriormente passou a integrar a Secretaria
        Executiva, a Secretaria Municipal de Planejamento, Orçamento e Modernização da Gestão, e o Escritório de Gestão
        de Projetos. Atualmente, o SIGeo faz parte do Escritório de Dados de Niterói, consolidando-se como um
        referencial de gestão urbana e inovação tecnológica. </p>
      <p>Além de facilitar a tomada de decisões dentro da gestão municipal, o SIGeo também promove transparência e
        acesso público à informação por meio do Portal de Dados Abertos e do Geoportal Público. A partir do Portal de
        Dados Abertos, por exemplo, é possível fazer o download das camadas do nosso banco de dados e consultar as API’s
        (Application Programming Interface) disponibilizadas para viabilizar a integração com outros sistemas.</p>
      <p>Desse modo, o município busca impulsionar a transformação digital, promover a transparência e ampliar o acesso
        à informação, contribuindo para políticas públicas mais eficientes e para o desenvolvimento urbano e social.
      </p>
    </div>
  </div>
</section>

<style>
  .theSigeoSection {
    font-family: 'Poppins';
    color: #fff;
    display: flex;
    justify-content: center;
  }

  .theSigeoSection_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 900px;
  }

  #theSigeoSection_title {
    font-family: 'Poppins' !important;
    font-weight: 600;
    text-align: center;
    margin: 0 !important;
  }

  .theSigeoSection_main p {
    text-align: justify;
    line-height: 25px;
    margin: 0 !important;
  }

  .theSigeoSection_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  @media(max-width: 765px) {
    .theSigeoSection_main {
      padding: 0 20px;
    }
  }

  @media(max-width: 375px) {
    .theSigeoSection_main p {
      line-height: 22px;
      font-size: 14px;
    }
  }
</style>