<p style="text-align: center;"><br></p>
<h1 style="text-align: center;">Veja outros serviços disponibilizados.</h1>
<h5 style="text-align: center;"><br></h5>
<h5 style="text-align: center;">Os serviços desenvolvidos por diversos órgãos você encontra no botão a seguir, no
  <b>Portal de Serviços</b> da&nbsp;</h5>
<h5 style="text-align: center;">Prefeitura Municipal de Niterói.</h5>
<p style="text-align: center;"><br></p>
<p style="text-align: center;"></p>

<div aria-label="actions" class="btn-group btn-group-justified" role="group"
  style="padding-right:30%; padding-left:30%"><a class="btn btn-default"
    href="https://servicos.niteroi.rj.gov.br/#/main/dyview" target="_blank">Saiba mais</a>
</div>