<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body>

  <div class="heroSection">
    <img src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/logos_novas/Logo_Branca.png" alt=""
      id="sigeoLogo">
  </div>

  <section class="aplicatiosCardSections">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a class="calcite-web" href="https://www.sigeo.niteroi.rj.gov.br/pages/aplicacoes">
        <div class="card-base">
          <div class="card-image-wrap">
            <img alt="aplicacao" class="card-image"
              src="https://lh3.googleusercontent.com/pw/AM-JKLUsBPy1_WxPTGBqMyQuIfA80IeaYE7BtKsXh1-AaX_yTGBihh4ycZkKadZzSHCxVORsSF3QER2KlzQFAzQpTr8-qsIzeS8DAIuxg9a3ic9-N4oSVjWgjNUxG20g8tlbKkTI2MxN6qFKWBTiRpMRmAS2=s512-no?authuser=2">
          </div>
          <div style="text-align:center; color=#f00000; height:180px; padding: 5px;">
            <h4>Aplicações e Painéis</h4>
            <p style="font-size:15px; padding: 10px;">Aplicações e Painéis desenvolvidos para consulta de dados e
              informações</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <a class="calcite-web" href="https://www.sigeo.niteroi.rj.gov.br/pages/ortofotos">
        <div class="card-base">
          <div class="card-image-wrap">
            <img alt="ortofoto" class="card-image"
              src="https://lh3.googleusercontent.com/pw/AM-JKLXb0QFAywu7IVWWPivAHkA_pc77VqkEDrbCZJWwE1U45L-4V9IMPuRt7n4q9lGhjT7qCGw-kxSSckYG2BpceffuTnD1YSKwzVYp85heVN7BW0N5G5SPzBlI0oWmOQLj6rZ4bb2uvAKgKdXNTzo2zdDK=s512-no?authuser=2">
          </div>
          <div style="text-align:center; color= #f00000; height:180px; padding: 5px;">
            <h4>Ortofotos</h4>
            <p style="font-size:15px; padding: 10px;">Área de consulta e download das imagens aéreas de 2014 e 2019</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <a class="calcite-web" href="https://www.sigeo.niteroi.rj.gov.br/pages/dados-abertos">
        <div class="card-base">
          <div class="card-image-wrap">
            <img alt="dados abertos" class="card-image"
              src="https://lh3.googleusercontent.com/pw/AM-JKLUWZXMEPwyaQyfqcdvxEdXC1fGcW0XAd8DfQZtonSiUBrIS0TZ1Q14mlPEVKxABztAOpmPwKLH01fRJCPZKdyLYwEu1Bb-0P4AYiIFbrsVBYhfyczlMslkVl9RKoFYXyeZajwHJRxgjtkXG8FVtafD3=s512-no?authuser=2">
          </div>
          <div style="text-align:center; color= #f00000; height:180px; padding: 5px;">
            <h4>Dados Abertos</h4>
            <p style="font-size:15px; padding: 10px;">Portal de Dados Abertos do SIGeo com arquivos para download</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <a class="calcite-web" href="https://www.sigeo.niteroi.rj.gov.br/pages/geoportal">
        <div class="card-base">
          <div class="card-image-wrap">
            <img alt="civitas geoportal" class="card-image"
              src="https://lh3.googleusercontent.com/pw/AM-JKLV6iEVArM2untcUS2z7RMljBf0VRTANc7-3IfVRi3IKM3z-gLN_6Y25sR2L4rZawGv_FWbBoYjSCb4M9Um86G3y2cKZLD5eAZU9XaB-ot52PTvkuatNfMIP4iaeNltjMArCFiRCR3yjvdg8Y51-hU9d=s512-no?authuser=2">
          </div>
          <div style="text-align:center; color= #f00000; height:180px; padding: 5px;">
            <h4>Geoportal</h4>
            <p style="font-size:15px; padding: 10px;">SIG-Web para visualização das camadas públicas do nosso banco de
              dados</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <a class="calcite-web" href="https://www.sigeo.niteroi.rj.gov.br/pages/servicos">
        <div class="card-base">
          <div class="card-image-wrap">
            <img alt="paineis" class="card-image"
              src="https://lh3.googleusercontent.com/pw/AM-JKLX_qHIlCYTeNeR0O9a-xHpn4i-cMlOkAlwRD0Ea0iVr2rJdjScAAQ8F9S6e0o4uxkpnavV3OPLPHC36ntb5E19e3XNuuqUVfZwNLejMRiK8WEKKkrGnfPaY7URFW1hyTKsw-Zt77PgnyTjO-El3WzLa=s512-no?authuser=2">
          </div>
          <div style="text-align:center; color= #f00000; height:180px; padding: 5px;">
            <h4>Serviços</h4>
            <p style="font-size:15px; padding: 10px;">Serviços desenvolvidos para usufruir de dados estatísticos do
              Município</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <a class="calcite-web" href="https://www.sigeo.niteroi.rj.gov.br/pages/mapas">
        <div class="card-base">
          <div class="card-image-wrap">
            <img alt="mapas" class="card-image"
              src="https://lh3.googleusercontent.com/pw/AM-JKLVpkPHo3dKeIe3rr0XFflNiY8nz6R3Kuo2O0d-VmqQwS9UnOx6rU9_2Ixex0g-ChHu7Qtu5qo9wfSbpLna8u-u3wCPBkyccW1Gyt1cMKsXg7E9ByXxSnZ_0BVeCw-QJ3sxBmrK9n4WV6-ctx0JYuf6u=s512-no?authuser=2">
          </div>
          <div style="text-align:center; color= #f00000; height:180px; padding: 5px;">
            <h4>Mapas</h4>
            <p style="font-size:15px; padding: 10px;">Área para download de materiais cartográficos&nbsp;</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <a class="calcite-web"
        href="https://drive.google.com/u/0/uc?id=1LKoH0e5JiBIBrup1a7g1OuXDayPUpUAw&amp;export=download">
        <div class="card-base">
          <div class="card-image-wrap">
            <img alt="metadados" class="card-image"
              src="https://lh3.googleusercontent.com/pw/AM-JKLVp64x-S9msnerwm16mgrLFcO7AhSy9ptXYS-NeFfBrKtjxW4yWvjZ_YpZG8UXToijq4QQu0PnM5Pf1r1SbigPYnKlAZSpwyMELVc9Y11pUjgNPy5P0igAiNIRiEncM8ywgGlKKB9TMID0nSkeHxyKR=s512-no?authuser=2">
          </div>
          <div style="text-align:center; color= #f00000; height:180px; padding: 5px;">
            <h4>Metadados</h4>
            <p style="font-size:15px; padding: 10px;">Metadados dos dados públicos disponíveis no portal de Dados
              Abertos</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <a class="calcite-web" href="https://github.com/SIGeo-Niteroi" target="_blank">
        <div class="card-base">
          <div class="card-image-wrap">
            <!--<img alt="pesquisa" class="card-image" src="https://lh3.googleusercontent.com/pw/AP1GczNkKpykfSRv5f9qyMSSPsuoK-WBzRkGPQXF0aN4FbTs3f1AWzl1WQj6xjsONUaDPyZRanVz3q4qSyXJibmATakSp5lD7N0gmxo94RqmP6hqnD9LD5RAy8aR04ThvuQt-eshl6o00j9xENvG0AuHFbAv=w128-h128-s-no-gm?authuser=3">-->
            <img alt="pesquisa" class="card-image"
              src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/code-icon.png">
          </div>
          <div style="text-align:center; color= #f00000; height:180px; padding: 5px;">
            <h4>Códigos Públicos</h4>
            <p style="font-size:15px; padding: 10px;">Portal Público de Scripts desenvolvidos pela nossa equipe</p>
          </div>
        </div>
      </a>
    </div>
  </section>

  <div class="footerContainer">

    <footer class="footerLayout">

      <div class="footerLayout_SIGeoInfos">
        <img id="logo_sigeo_horizontal"
          src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/logos_novas/Logo_Branca.png"
          alt="Logo do SIGeo">
        <div class="socialMedias">
          <a id="linkedinIcon" href="https://www.linkedin.com/company/sigeo-niteroi/posts/?feedView=all" target="_blank"
            rel="noopener noreferrer">
            <img src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/Icone_Linkedin_rodape.png"
              alt="linkedin logo">
          </a>
          <a id="githubIcon" href="https://github.com/SIGeo-Niteroi" target="_blank" rel="noopener noreferrer">
            <img src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/Icone_Github_rodape.png"
              alt="github logo">
          </a>
        </div>
        <p id="copyrightText">© 2024 Prefeitura Municipal de Niterói</p>
      </div>

      <div class="footerLayout_verticalBarr"></div>

      <div class="footerLayout_usefulLinks">
        <p id="usefulLinksText">Links úteis</p>
        <div class="usefulLinksAncors">
          <a id="prefeituraDeNiteroiLink" href="https://niteroi.rj.gov.br/" target="_blank"
            rel="noopener noreferrer">Prefeitura de Niterói</a>
          <a id="transparenciaNiteroiLink" href="https://transparencia.niteroi.rj.gov.br/#/" target="_blank">Portal da
            Transparência</a>
          <a id="smctiLink" href="https://cienciaetecnologia.niteroi.rj.gov.br/" target="_blank">Portal SMCTI</a>
          <a id="smctiLink" href="http://servicos.niteroi.rj.gov.br/" target="_blank">Serviços ao Cidadão</a>
          <a id="smctiLink" href="https://observa.niteroi.rj.gov.br/" target="_blank">Observa Nit</a>
        </div>
      </div>

      <div class="footerLayout_verticalBarr"></div>

      <div class="footerLayout_contacts">
        <p id="ContactText">Contato</p>
        <div class="emailContact_container">
          <img src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/e-mail_icon_rodape.png"
            alt="github logo">
          <a href="" id="sigeoEmailSupport">atendimento@sigeo.niteroi.rj.gov.br</a>
        </div>
        <img id="logo_smcti" src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/LOGO/Logo_SMCTI_branca.png"
          alt="Logo do SMCTI">

      </div>

    </footer>

  </div>
</body>

</html>

<!-- style="background: rgba(240,240,240,0.2)" -->