<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body>

  <div class="footerContainer">

    <footer class="footerLayout">

      <div class="footerLayout_SIGeoInfos">
        <img id="logo_sigeo_horizontal"
          src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/logos_novas/Logo_Branca.png"
          alt="Logo do SIGeo">
        <div class="socialMedias">
          <a id="linkedinIcon" href="https://www.linkedin.com/company/sigeo-niteroi/posts/?feedView=all" target="_blank"
            rel="noopener noreferrer">
            <img src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/Icone_Linkedin_rodape.png"
              alt="linkedin logo">
          </a>
          <a id="githubIcon" href="https://github.com/SIGeo-Niteroi" target="_blank" rel="noopener noreferrer">
            <img src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/Icone_Github_rodape.png"
              alt="github logo">
          </a>
        </div>
        <p id="copyrightText">© 2024 Prefeitura Municipal de Niterói</p>
      </div>

      <div class="footerLayout_verticalBarr"></div>

      <div class="footerLayout_usefulLinks">
        <p id="usefulLinksText">Links úteis</p>
        <div class="usefulLinksAncors">
          <a id="prefeituraDeNiteroiLink" href="https://niteroi.rj.gov.br/" target="_blank"
            rel="noopener noreferrer">Prefeitura de Niterói</a>
          <a id="transparenciaNiteroiLink" href="https://transparencia.niteroi.rj.gov.br/#/" target="_blank">Portal da
            Transparência</a>
          <a id="sexecLink" href="https://niteroi.rj.gov.br/tag/secretaria-executiva/" target="_blank">Portal SEXEC</a>
          <a id="servicosAoCidadaoLink" href="http://servicos.niteroi.rj.gov.br/" target="_blank">Serviços ao
            Cidadão</a>
          <a id="observaNitLink" href="https://observa.niteroi.rj.gov.br/" target="_blank">Observa Nit</a>
          <a id="pesquisaLink" href="https://survey123.arcgis.com/share/7b5400ae24f04eb6a94909d5f101a576"
            target="_blank">Pesquisa de Satisfação</a>
        </div>
      </div>

      <div class="footerLayout_verticalBarr"></div>

      <div class="footerLayout_contacts">
        <p id="ContactText">Contato</p>
        <div class="emailContact_container">
          <img id="emailIcon" src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/e-mail_icon_rodape.png"
            alt="ícone de email">
          <a href="mailto:atendimento@sigeo.niteroi.rj.gov.br"
            id="sigeoEmailSupport">atendimento@sigeo.niteroi.rj.gov.br</a>
        </div>
        <img id="logo_smcti" src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/LOGO/SEXEC-branca.png"
          alt="Logo da Secretaria Executiva">

      </div>

    </footer>

    <footer class="footerLayout_Mobile">

      <div class="footerLayout_SIGeoInfos">
        <img id="logo_sigeo_horizontal"
          src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/logos_novas/Logo_Branca.png"
          alt="Logo do SIGeo">
        <div class="socialMedias">
          <a id="linkedinIcon" href="https://www.linkedin.com/company/sigeo-niteroi/posts/?feedView=all" target="_blank"
            rel="noopener noreferrer">
            <img src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/Icone_Linkedin_rodape.png"
              alt="linkedin logo">
          </a>
          <a id="githubIcon" href="https://github.com/SIGeo-Niteroi" target="_blank" rel="noopener noreferrer">
            <img src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/Icone_Github_rodape.png"
              alt="github logo">
          </a>
        </div>
      </div>

      <div class="footerLayout_horizonBarr"></div>

      <div class="footerLayout_usefulLinksAndContactInfo">
        <div class="footerLayout_usefulLinks">
          <p id="usefulLinksText">Links úteis</p>
          <div class="usefulLinksAncors">
            <a id="prefeituraDeNiteroiLink" href="https://niteroi.rj.gov.br/" target="_blank"
              rel="noopener noreferrer">Prefeitura de Niterói</a>
            <a id="transparenciaNiteroiLink" href="https://transparencia.niteroi.rj.gov.br/#/" target="_blank">Portal da
              Transparência</a>
            <a id="sexecLink" href="https://niteroi.rj.gov.br/tag/secretaria-executiva/" target="_blank">Portal
              SEXEC</a>
            <a id="servicosAoCidadaoLink" href="http://servicos.niteroi.rj.gov.br/" target="_blank">Serviços ao
              Cidadão</a>
            <a id="observaNitLink" href="https://observa.niteroi.rj.gov.br/" target="_blank">Observa Nit</a>
            <a id="pesquisaLink" href="https://survey123.arcgis.com/share/7b5400ae24f04eb6a94909d5f101a576"
              target="_blank">Pesquisa de Satisfação</a>
          </div>
        </div>

        <div class="footerLayout_verticalBarr"></div>

        <div class="footerLayout_contacts">
          <p id="ContactText">Contato</p>
          <div class="emailContact_container">
            <img id="emailIcon"
              src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/e-mail_icon_rodape.png"
              alt="ícone de email">
            <a href="mailto:atendimento@sigeo.niteroi.rj.gov.br"
              id="sigeoEmailSupport">atendimento@sigeo.niteroi.rj.gov.br</a>
          </div>
          <img id="logo_smcti" src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/LOGO/SEXEC-branca.png"
            alt="Logo da Secretaria Executiva">
          <p id="copyrightText">© 2024 Prefeitura Municipal de Niterói</p>
        </div>
      </div>


    </footer>

  </div>

</body>

</html>