<!-- PRIMEIRO CARD -->  

<div class="col-sm-12 col-md-6 col-lg-6">
    <div class="calcite-web" style="padding: 20px">
      <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
        <div class="card-image-wrap">
          </div><div class="card-image-wrap">
          <img class="card-image" src="https://lh3.googleusercontent.com/pw/AM-JKLXxBzhI5xF3AE92t3lmPX79uXrrU7TVWWHnZV8bzx2vnR4zjJktpXpOKNRGkdRwS13ktQnjblmLImCA5znAkaZLooPfk0EyfsNNnjsFOgDz4Pm0ifqEBbhMqj3neBsGgW0s0zhuHFtyCY4yQnAUUgXl=w480-h270-no?authuser=2" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div>
          <div class="card-image-wrap">
          <div class="card-image-caption" style="text-align: center;"><b>Acompanhamentos dos casos de COVID19</b></div>
        </div>
        <div class="card-content">
          <h4><span style="font-size: 14px; color: white;">Painel com indicadores da evolução do COVID-19, cobertura vacinal, monitoramento do SARS-COV-2 no esgoto sanitário e estimativa de isolamento social no município.</span></h4>
          <div aria-label="actions" class="btn-group btn-group-justified" role="group">
            <a class="btn btn-default" href="https://experience.arcgis.com/experience/305269f3cdd24839b263c5ab346e1aa7" target="_blank">Acesse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    
<!-- SEGUNDO CARD -->     

<div class="col-sm-12 col-md-6 col-lg-6">
    <div class="calcite-web" style="padding: 20px">
      <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
        <div class="card-image-wrap">
          </div><div class="card-image-wrap">
          <img class="card-image" src="https://lh3.googleusercontent.com/pw/AM-JKLVvYDVp8tcKFOEh9YRFvQqgbTcphahUmGjsOP102w1YSoYef7wHWL1s_X2l8H66J6DfC_W_6Bvcz24WTdzIxX243J3eeAQKOpC_Uqk144UpSqPqIq0YN8F7LXSKYb1F334y64T8yAx2wugN6u4-g4tl=w480-h270-no?authuser=2" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div>
          <div class="card-image-wrap">
          <div class="card-image-caption" style="text-align: center;"><b>Drive Thru de testagem e vacinação</b></div>
        </div>
        <div class="card-content">
          <h4><span style="font-size: 14px; color: white;">Painel com informações sobre quantidade de doses aplicadas, testagem da população e número de atendimentos realizados no drive thru do Gragoatá.&nbsp;</span></h4>
          <div aria-label="actions" class="btn-group btn-group-justified" role="group">
            <a class="btn btn-default" href="https://geoniteroi.maps.arcgis.com/apps/dashboards/3a72d3a8eede46d0a3d622d183bab4eb" target="_blank">Acesse</a>
          </div>
        </div>
      </div>
    </div>
    </div>
