<!-- SEGUNDO TEXTO -->

<h1 style="text-align: center;"><b>Nosso trabalho&nbsp;</b></h1>

<p><br></p>
<p style="text-align: justify;">O trabalho desempenhado pela equipe consiste em gerenciar os dados geoespaciais
  fornecendo soluções de inteligência geográfica para visualização, análise e interação dos dados produzidos,
  tornando-os acessíveis às diferentes secretarias e à sociedade civil. Desse modo, além de exercer um papel estratégico
  na tomada de decisão e otimização da gestão pública, o trabalho realizado consolida a transformação digital da cidade
  e reitera o comprometimento da mesma com a transparência dos dados.</p>
<p style="text-align: justify;"> Criado no intuito de reunir as principais informações sobre o trabalho realizado, esse
  HUB disponibiliza ao usuário os links de acesso ao conteúdo desenvolvido, à base de dados pública, ao download dos
  materiais cartográficos, bem como da base aerofotogramétrica e do perfilamento à laser território municipal de forma
  gratuita em alta resolução.</p>
<p style="text-align: justify;"> Uma das principais aplicações, o <b>Civitas Geoportal</b> permite consultar diferentes
  dados espaciais públicos do nosso banco de dados, executar algumas ferramentas simplificadas de análise geoespacial e
  exportar mapas do conteúdo exibido.</p>
<p style="text-align: justify;"> O <b>Portal de Dados Abertos</b> possibilita consultar algumas estatísticas do
  município, acessar diferentes aplicações desenvolvidas, fazer o download das camadas do nosso banco de dados e
  consultar as API’s (em inglês&nbsp;<i>Application Programming Interface</i>, as API's são utilizadas para integração e
  desenvolvimento de sistemas) disponibilizadas para viabilizar a integração com outros sistemas. </p>
<p style="text-align: justify;">Além dessas, são disponibilizadas também outras aplicações com objetivo de contribuir
  para uma gestão pública transparente e cada vez mais eficiente.</p>