<h5 style="text-align: center;"><span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">Mosaicos
    completos de 2014&nbsp;<span class="glyphicon glyphicon-download-alt"></span></span></h5>

<p style="text-align: center; font-size: 16px;"><br></p>
<p style="text-align: center; font-size: 16px;"><span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">Ortofoto:</span><span
    style="font-weight: 700; background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">&nbsp;&nbsp;</span><a
    href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/mosaico_completo_ecw.rar" class="btn btn-primary"
    target="_blank"
    style="font-family: var(--fontsBaseFamily),Avenir Next; color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"><span
      style="font-weight: 700;">ECW</span></a><b>&nbsp;</b></p>
<p style="text-align: center; font-size: 16px;"><span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">Curvas de
    Nível:&nbsp;</span><span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next; font-weight: 700;"><a
      href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/shp/MOSAICO_CN_2014.zip" class="btn btn-primary"
      style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
      target="_blank"><span style="font-weight: 700;">Shapefile</span></a>&nbsp;&nbsp;<a
      href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/dwg/MOSAICO_CN_2014.zip" class="btn btn-primary"
      style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
      target="_blank"><span style="font-weight: 700;">DWG</span></a>&nbsp;</span></p>
<p style="text-align: center; font-size: 16px;"><span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">Modelo
    Digital de Elevação (.TIF):&nbsp;</span><span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next; font-weight: 700;"><a
      href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mds/MDS_2014.zip" class="btn btn-primary"
      style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
      target="_blank"><span style="font-weight: 700;">MDS</span></a>&nbsp;&nbsp;<a
      href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mdt/MDT_IDW_2014.zip" class="btn btn-primary"
      style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
      target="_blank"><span style="font-weight: 700;">MDT</span></a></span><span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">&nbsp;</span>
</p>
<p style="text-align: center; font-size: 16px;">

  <span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">Arquivos
    LAS (MDS):&nbsp;</span>
  <span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next; font-weight: 700;"></span>
  <a href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mds/las/las2014_mds_parte1.zip"
    class="btn btn-primary"
    style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
    target="_blank"><span style="font-weight: 700;">Parte 1</span></a>
  <a href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mds/las/las2014_mds_parte2.zip"
    class="btn btn-primary"
    style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
    target="_blank"><span style="font-weight: 700;">Parte 2</span></a>
  <a href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mds/las/las2014_mds_parte3.zip"
    class="btn btn-primary"
    style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
    target="_blank"><span style="font-weight: 700;">Parte 3</span></a>
  <a href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mds/las/las2014_mds_parte4.zip"
    class="btn btn-primary"
    style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
    target="_blank"><span style="font-weight: 700;">Parte 4</span></a>
<p style="text-align: center; font-size: 16px;">
  <span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">Arquivos
    LAS (MDT):&nbsp;</span>
  <span
    style="background-color: initial; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next; font-weight: 700;"></span>
  <a href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mdt/las/las2014_mdt_parte1.zip"
    class="btn btn-primary"
    style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
    target="_blank"><span style="font-weight: 700;">Parte 1</span></a>
  <a href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mdt/las/las2014_mdt_parte2.zip"
    class="btn btn-primary"
    style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
    target="_blank"><span style="font-weight: 700;">Parte 2</span></a>
  <a href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mdt/las/las2014_mdt_parte3.zip"
    class="btn btn-primary"
    style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
    target="_blank"><span style="font-weight: 700;">Parte 3</span></a>
  <a href="https://www.ortofotos.niteroi.rj.gov.br/ortofotos/2014/mdt/las/las2014_mdt_parte4.zip"
    class="btn btn-primary"
    style="color: rgb(255, 255, 255); background-color: rgba(153, 153, 153, 0.6); border-width: 5px; border-style: initial; border-color: initial; border-radius: 20px;"
    target="_blank"><span style="font-weight: 700;">Parte 4</span></a>