<div class="paineisEmDestaque_section">
    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
        <div class="calcite-web">
            <a href="https://experience.arcgis.com/experience/8b3c6160914d46e8a25017b5d7b210d0" target="_blank">
                <div class="card-base2">
                    <div class="card-image-wrap">
                        <img alt="novos negocios" class="card-image"
                            src="https://lh3.googleusercontent.com/pw/AJFCJaXm2blvvF4aXpBoIBUkXVnbdXp6Son7W-V_yTldZH60jlPr_XCaW1Pz9q0IHjChNEc683CwsPAS9WOFH7iwdvwONqgPz3OrytcCtZayBBYABJp2aBZAVFFHA3X1n7iZUJY9iPnYnrJinitSjVV5Xglb=w480-h270-s-no?authuser=0"
                            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                        <div class="card-image-caption" style="text-align: center;"><b>Solicitações COLAB - Prefeitura
                                de
                                Niterói</b></div>
                    </div>
                    <div class="card-content">
                        <h4><span style="font-size: 14px;">Painel de solicitações públicas de avaliação de zeladoria
                                urbana
                                enviadas pelo COLAB para gestão e melhoria de serviços.</span></h4>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
        <div class="calcite-web">
            <div class="card-base2">
                <a href="https://geoniteroi.maps.arcgis.com/apps/dashboards/0a774cbdc00b49198972acb714726999"
                    target="_blank">
                    <div class="card-image-wrap">
                        <img alt="painel de metas" class="card-image"
                            src="https://lh3.googleusercontent.com/pw/AJFCJaVzlFIfLV54CmG_DM-fQxKCX4V3os1AwpWfKHrwJ9h0QvhwV0I7DlY2Z7WcbZ19_uVTIRbKrygY8t1e3Gq4oDydgEF1Fur7Y0AU7l96gBiPaQYVPjebKtvidVBsvesOIjBCXwYeFsccQNK7SrCeweCw=w480-h270-s-no?authuser=1"
                            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                        <div class="card-image-caption" style="text-align: center;"><b>Painel do Plano de Metas</b>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4><span style="font-size: 14px;">Painel interativo para visualização das metas de governo
                                entregues e secretarias responsáveis a partir do ano de 2013.</span></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
        <div class="calcite-web">
            <div class="card-base2">
                <a href="https://sig.niteroi.rj.gov.br/portal/apps/experiencebuilder/experience/?id=21d9178b953f4cfc97ee4ecd992634b1"
                    target="_blank">
                    <div class="card-image-wrap">
                        <img alt="Foto painel de resíduos e coleta seletiva" class="card-image"
                            src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/cards/CLINTUMB.PNG"
                            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                        <div class="card-image-caption" style="text-align: center;"><b>Painel de Resíduos e Coleta
                                Seletiva</b></div>
                    </div>
                    <div class="card-content">
                        <h4><span style="font-size: 14px;">Painel interativo para visualização dos indicadores de coleta
                                de
                                resíduos e coleta seletiva em Niterói a partir de 2017.</span></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
        <div class="calcite-web">
            <div class="card-base2">
                <a href="https://sig.niteroi.rj.gov.br/portal/apps/experiencebuilder/experience/?id=f535f4dc4e8a4792ae6a1c4b3ef99523"
                    target="_blank">
                    <div class="card-image-wrap">
                        <img alt="Foto painel de pacto pela inovação" class="card-image"
                            src="https://lh3.googleusercontent.com/pw/AP1GczNxUXadA25s5S4DEo67L9QLcz7SobhKOGXqDb0RdXGfBAwqgM2f-uIk57SnRwLKTXeiQcr8CCY2Aldrt-i8U7yegE8_HzO0lMSCXvLnfvMsj8QfRwEsFkep4gFH2T7nuaTJ600wkCgdjfKjL3qN_tiC=w1868-h966-s-no?authuser=0"
                            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                        <div class="card-image-caption" style="text-align: center;"><b>Painel do Pacto pela Inovação</b>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4><span style="font-size: 14px;">Painel interativo para visualização dos dados do Pacto pela
                                Inovação, produzido em parceria com o SIGeo e a SMCTI.</span></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
        <div class="calcite-web">
            <div class="card-base2">
                <a href="https://sig.niteroi.rj.gov.br/portal/apps/dashboards/8ea2803e8bc349828a6347b690a53161"
                    target="_blank">
                    <div class="card-image-wrap">
                        <img alt="niterói em 3D" class="card-image"
                            src="https://lh3.googleusercontent.com/pw/AP1GczOMCXK5LPeQSq8jeLIu_w5dyR-8pyIvraWSqHQTt97tMrUdMNbd-AVV0NaRjOlquZT8W09Iz2LQhHGGWYKQeJ5NtvY_XeFnlJNoxLoY8jF5VleG6xYaLFSovpUigb3rJE2YSD4u-hf7N7EeyZYtcIb8=w1366-h768-s-no?authuser=0"
                            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                        <div class="card-image-caption" style="text-align: center;"><b>Painel Público Arbóribus</b>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4><span style="font-size: 14px;">Pensado para possibilitar o acompanhamento da conservação das
                                árvores urbanas, em parceria com a SECONSER.</span></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    h1,
    h2,
    h3,
    p,
    a {
        margin: 0 !important;
        line-height: normal !important;
        text-decoration: none !important;
        outline: none !important;
        /* Retirar as margens e ligh-height de padrão do HUB nos elemntos*/
    }

    .paineisEmDestaque_section {
        display: flex;
        flex-wrap: wrap;
    }

    .col-xs-12,
    .col-md-6,
    .col-lg-4,
    .col-xl-3 {
        display: flex;
        justify-content: center;
    }

    .card-base2 {
        display: inline-block;
        /*width: 380px */
        max-width: 445px !important;
        height: 375px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        transition: all .5s ease-out;
    }

    .card-base2:hover {
        transform: scale(1.05);
    }

    .card-image {
        width: 380px;
        height: 200px;
    }

    @media (max-width:992px) {
        .card-base2 {
            height: auto !important;
        }
    }
</style>