<!-- QUARTO CARD -->

<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
  <div class="calcite-web">
    <div class="card-base2"
      style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
      <div class="card-image-wrap">
        <img alt="novos negocios" class="card-image"
          src="https://lh3.googleusercontent.com/pw/AP1GczMLgjirSF8dzjFldaMef95WVjLm67I3BlghFLeyUsf_PNBl5Mjqdyi4gQJMbMFi80Pyan7T6oakoDn3YkWVX6nbhpQg5Q2OZOyI3elSc4NPR68tmgX77BxqA-pr0osbKE-XTED6PElzBCfA-bJ66klG=w873-h500-s-no?authuser=0"
          style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
        <div class="card-image-caption" style="text-align: center;"><b>Manual de dados abertos: desenvolvedores web</b>
        </div>
      </div>
      <div class="card-content">
        <h4><span style="font-size: 14px;">Manual que apresenta, para desenvolvedores que queiram trabalhar com dados
            abertos, o que são e como publicar dados aberto, dentre outras instruções.</span></h4>
        <div aria-label="actions" class="btn-group btn-group-justified" role="group">
          <a class="btn btn-default"
            href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/documentos/manual_dados_abertos_desenvolvedores_web.pdf"
            target="_blank">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- QUINTO CARD -->

<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
  <div class="calcite-web">
    <div class="card-base2"
      style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
      <div class="card-image-wrap"><img alt="guia de trilhas" class="card-image"
          src="https://lh3.googleusercontent.com/pw/AP1GczNS21xdJca4KOmEfuuH04fkSPR5DKC3_yVbk8OhQMFbIk2gMeLt8FCIJP-Mt8R3ElKXbwQwV_sV8KESL_Y7ccWNMOxB3wmIB9eZbLctvX-aOqZLZQP28lASI-1pYgsMincHiyaeQ4lfAInvWkY8J1gS=w965-h453-s-no?authuser=0"
          style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div>
      <div class="card-image-wrap">
        <div class="card-image-caption" style="text-align: center;"><b>
            Cartilha para desenvolvedores de dados abertos
          </b>
        </div>
      </div>
      <div class="card-content">
        <h4><span style="font-size: 14px;">Esta publicação é um encarte integrante do “Manual dos dados abertos:
            desenvolvedores web”. Trazendo os principais conceitos trabalhados no projeto.</span></h4>
        <div aria-label="actions" class="btn-group btn-group-justified" role="group">
          <a class="btn btn-default"
            href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/documentos/encarte_manual_desenvolvedores_web.pdf"
            target="_blank">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SEXTO CARD -->

<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
  <div class="calcite-web">
    <div class="card-base2"
      style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
      <div class="card-image-wrap">
        <img alt="niterói em 3D" class="card-image"
          src="https://ok.org.br/wp-content/uploads/2023/11/011123-site-logo-150.png"
          style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
        <div class="card-image-caption" style="text-align: center;"><b>Guia de Dados Abertos Open Knowledge Foundation
          </b></div>
      </div>
      <div class="card-content">
        <h4><span style="font-size: 14px;">Este guia discute os aspectos legais, sociais e técnicos dos dados abertos.
            Ele pode ser usado por todos, porém foi desenvolvido para quem visa abrir dados.</span></h4>
        <div aria-label="actions" class="btn-group btn-group-justified" role="group">
          <a class="btn btn-default" href="https://opendatahandbook.org/guide/pt_BR/" target="_blank">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .card-base2 {
    display: inline-block;
    /*width: 380px*/
    max-width: 445px !important;
    height: 375px;
    margin: 0 auto;
  }


  .card-image {
    width: 380px;
    height: 200px;
  }

  @media (max-width:992px) {
    .card-base2 {
      height: auto !important;
    }
  }
</style>