<div class="paineisEmDestaque_section">
    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
        <div class="calcite-web">
            <a href="https://geoniteroi.maps.arcgis.com/apps/webappviewer/index.html?id=b186888f13ee4955a7d59ac1fc0e6a7e"
                target="_blank">
                <div class="card-base2">
                    <div class="card-image-wrap">
                        <img alt="imagem mapa do projeto de lei urbanística" class="card-image"
                            src="https://lh3.googleusercontent.com/pw/AL9nZEUyeTXsTbkyJfvAsx04TbtEh8uEMg1oPfTDR_lJM5yBsWKeUEse_lWsOXMs0COB0z3nwRzdAGlrnWZctlmSFPp84_1OYZ5pBCw47XvtyxEh_-R6MjiZ2X6Az52ggjpsTuCbuB1ERiDfKSTJbK1Bt-IP=w480-h270-no?authuser=2"
                            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                        <div class="card-image-caption" style="text-align: center;"><b>Projeto de Lei Urbanística</b>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4><span style="font-size: 14px;">Conheça o projeto de lei urbanística</span></h4>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
        <div class="calcite-web">
            <div class="card-base2">
                <a href="https://geoniteroi.maps.arcgis.com/apps/webappviewer/index.html?id=c38e1817e5504033a5c6901c6d026907"
                    target="_blank">
                    <div class="card-image-wrap">
                        <img alt="foto aplicação praia hoje" class="card-image"
                            src="https://lh3.googleusercontent.com/pw/AM-JKLXUc7Wmo_yqxr8PxC8w5HUAHN2Xxtc1_S9gCQ_3c7w28IpLOYBbQAt9AdQzrDlRiJwZeFX5f9YzkZnofECt3twlwIxnCmiImUbMo893_swVtET00khz6NAb7xyi6dPUdtJcSYy3325mh-3bc1SCFkSm=w480-h270-no?authuser=2"
                            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                        <div class="card-image-caption" style="text-align: center;"><b>Praia Hoje - Balneabilidade</b>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4><span style="font-size: 14px;">Informações sobre balneabilidade das praias e infraestrutura.
                                Dados disponibilizados através de integração com o INEA.</span></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
        <div class="calcite-web">
            <div class="card-base2">
                <a href="https://geo.niteroi.rj.gov.br/portal/apps/webappviewer/index.html?id=40c8945ce75e4d11a9a8899bc074bb79"
                    target="_blank">
                    <div class="card-image-wrap">
                        <img alt="Foto aplicação plano diretor 2019" class="card-image"
                            src="https://lh3.googleusercontent.com/pw/AM-JKLUoJLQ9qhb0NVaUzArDCIupjROlbuG1o1xUpzBT5RTD9YJOyzo_ioYAUW53GiI-tleBhdUdK6OQXiVwZWc8Cng94jfT4-zZPD0lmOANFzWOxWGdz0iD19cw82ph9aAnLBS-ouxEIcgIfLO2itTVbLgn=w480-h270-no?authuser=2"
                            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                        <div class="card-image-caption" style="text-align: center;"><b>Plano Diretor - 2019</b></div>
                    </div>
                    <div class="card-content">
                        <h4><span style="font-size: 14px;">Aplicação destinada à visualização das camadas de zoneamento
                                com informações do Plano Diretor de 2019.</span></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
        <div class="calcite-web">
            <div class="card-base2">
                <a href="https://geoniteroi.maps.arcgis.com/apps/webappviewer/index.html?id=cbe11251009b433b835c6ed951dbea3c"
                    target="_blank">
                    <div class="card-image-wrap">
                        <img alt="Foto aplicação Niterói Solidária" class="card-image"
                            src="https://lh3.googleusercontent.com/pw/ABLVV86jebtLZf0e8vtS3gpNkUHJ_bs_7NnWpYuQOwNy5TYjE2XsBq_iO6ibgipF7h0LzWKqFsALxR6x_KvvKaU72ua4_-K-OZd9TC_tQekBgIjiz9c6sl0hnpe32ZEJ8Vej5CJZTfglKyfWbM6NDjq6k0I2=w1865-h969-s-no?authuser=1"
                            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                        <div class="card-image-caption" style="text-align: center;"><b>Niterói Solidária</b>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4><span style="font-size: 14px;">Aplicação destinada à visualização das Entidades
                                participantes do Programa Niterói Solidária.</span></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding: 20px">
        <div class="calcite-web">
            <div class="card-base2">
                <a href="https://www.saladesituacao.niteroi.rj.gov.br/" target="_blank">
                    <div class="card-image-wrap">
                        <img alt="niterói em 3D" class="card-image"
                            src="https://lh3.googleusercontent.com/pw/AP1GczOvNlgbItL9zwU5UNnZnMtQboI03nFCH6nmmGPi4b6NKunGqfady8UZ35fe-PFKFwMNdQ1V_K4y7ruzzMQJAv5fqtGiIrHvGNtGgvHvTLWg4tPBrbrGKkwxUK3yCBEvGu8vCUSISXwFtf7ohogr_W3I=w1707-h966-s-no?authuser=0"
                            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
                        <div class="card-image-caption" style="text-align: center;"><b>Hub Sala de Situação</b>
                        </div>
                    </div>
                    <div class="card-content">
                        <h4><span style="font-size: 14px;">Aplicação destinada à dar acesso aos dados, documentos e
                                painéis sobre saúde pública para a população.</span></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    h1,
    h2,
    h3,
    p,
    a {
        margin: 0 !important;
        line-height: normal !important;
        text-decoration: none !important;
        outline: none !important;
        /* Retirar as margens e ligh-height de padrão do HUB nos elemntos*/
    }

    .paineisEmDestaque_section {
        display: flex;
        flex-wrap: wrap;
    }

    .col-xs-12,
    .col-md-6,
    .col-lg-4,
    .col-xl-3 {
        display: flex;
        justify-content: center;
    }

    .card-base2 {
        display: inline-block;
        /*width: 380px */
        max-width: 445px !important;
        height: 375px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .card-image {
        width: 380px;
        height: 200px;
    }

    @media (max-width:992px) {
        .card-base2 {
            height: auto !important;
        }
    }
</style>