<center>
  <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" style="padding-bottom: 15px;">
    <div class="calcite-web">
      <div class="card-base2">
        <div class="card-image-wrap">
          <img alt="novos negocios" class="card-image" src="https://i.ibb.co/PYrMf3n/novos-negocios-1.jpg"
            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
          <div class="card-image-caption" style="text-align: center;"><b>Novos Negócios</b></div>
        </div>
        <div class="card-content">
          <h4><span style="font-size: 14px;">Plataforma dedicada a apresentar a cidade para avaliação da viabilidade de
              novos negócios.</span></h4>
          <div aria-label="actions" class="btn-group btn-group-justified" role="group">
            <a class="btn btn-default" href="https://storymaps.arcgis.com/stories/5c0b35cfad7e4b5da736110ea3d9e186"
              target="_blank">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
    <div class="calcite-web">
      <div class="card-base2">
        <div class="card-image-wrap">
          <img alt="ats" class="card-image"
            src="https://lh3.googleusercontent.com/pw/AP1GczPwQ1Z_pJQ_9PhaoKhGpAoUqz_Yv5v5lj93cSaLysI0RqkgZw3__YzoQeEHvTs_ASmfYyFLjB1tK0YBEpXI1CGT_AJ-T9NM3rM3ChXSRmG43kvCkMdkYDK0Alq8pPw3H-5XWCQ_dNUJGekTRRhXNApW=w1840-h921-s-no-gm?authuser=3"
            style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;">
          <div class="card-image-caption" style="text-align: center;"><b>Aqui Tem Saúde</b></div>
        </div>
        <div class="card-content">
          <h4><span style="font-size: 14px;">Plataforma para encontrar sua Unidade de Saúde de referência na Atenção
              Primária à Saúde - APS.</span></h4>
          <div aria-label="actions" class="btn-group btn-group-justified" role="group">
            <a class="btn btn-default" href="https://www.saladesituacao.niteroi.rj.gov.br/pages/aquitemsaude"
              target="_blank">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</center>

<style>
  .card-base2 {
    display: inline-block;
    /*width: 380px */
    max-width: 445px !important;
    height: 375px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }


  .card-image {
    width: 380px;
    height: 200px;
  }

  @media (max-width:992px) {
    .card-base2 {
      height: auto !important;
    }
  }
</style>