<section class="aplicationsAndMaterials_section">
  <div class="aplicationsAndMaterials_main">
    <h2 id="aplicationsAndMaterials_title">
      Aplicações e Materiais
    </h2>
    <div class="aplicationsAndMaterials_cards">
      <a class="categoryCard_structure" href="https://www.sigeo.niteroi.rj.gov.br/pages/aplicacoes"
        rel="noopener noreferrer" title="Aplicações e Painéis">
        <div class="categoryCard_imgWrap">
          <img class="categoryCard_img"
            src="https://lh3.googleusercontent.com/pw/AM-JKLUsBPy1_WxPTGBqMyQuIfA80IeaYE7BtKsXh1-AaX_yTGBihh4ycZkKadZzSHCxVORsSF3QER2KlzQFAzQpTr8-qsIzeS8DAIuxg9a3ic9-N4oSVjWgjNUxG20g8tlbKkTI2MxN6qFKWBTiRpMRmAS2=s512-no?authuser=2"
            alt="desenho de um monitor com gráficos">
        </div>
        <div class="categoryCard_textWrap">
          <p class="categoryCard_title">Aplicações e Painéis</p>
          <p class="categoryCard_description">Aplicações interativas para analisar e explorar dados temáticos</p>
        </div>
      </a>

      <a class="categoryCard_structure" href="https://www.sigeo.niteroi.rj.gov.br/pages/ortofotos"
        rel="noopener noreferrer" title="Ortofotos">
        <div class="categoryCard_imgWrap">
          <img class="categoryCard_img"
            src="https://lh3.googleusercontent.com/pw/AM-JKLXb0QFAywu7IVWWPivAHkA_pc77VqkEDrbCZJWwE1U45L-4V9IMPuRt7n4q9lGhjT7qCGw-kxSSckYG2BpceffuTnD1YSKwzVYp85heVN7BW0N5G5SPzBlI0oWmOQLj6rZ4bb2uvAKgKdXNTzo2zdDK=s512-no?authuser=2"
            alt="desenho de quadrados simbolizando camadas">
        </div>
        <div class="categoryCard_textWrap">
          <p class="categoryCard_title">Ortofotos</p>
          <p class="categoryCard_description">Imagens aéreas de 2014 e 2019 disponíveis para download</p>
        </div>
      </a>

      <a class="categoryCard_structure" href="https://www.sigeo.niteroi.rj.gov.br/pages/dados-abertos"
        rel="noopener noreferrer" title="Dados Abertos">
        <div class="categoryCard_imgWrap">
          <img class="categoryCard_img"
            src="https://lh3.googleusercontent.com/pw/AM-JKLUWZXMEPwyaQyfqcdvxEdXC1fGcW0XAd8DfQZtonSiUBrIS0TZ1Q14mlPEVKxABztAOpmPwKLH01fRJCPZKdyLYwEu1Bb-0P4AYiIFbrsVBYhfyczlMslkVl9RKoFYXyeZajwHJRxgjtkXG8FVtafD3=s512-no?authuser=2"
            alt="desenho de um cilindro com camadas.">
        </div>
        <div class="categoryCard_textWrap">
          <p class="categoryCard_title">Dados Abertos</p>
          <p class="categoryCard_description">Informações geográficas disponíveis para download</p>
        </div>
      </a>

      <a class="categoryCard_structure" href="https://experience.arcgis.com/experience/11d179ccba3949828f3dbac2bc8b0ce7"
        rel="noopener noreferrer" title="Geoportal">
        <div class="categoryCard_imgWrap">
          <img class="categoryCard_img"
            src="https://lh3.googleusercontent.com/pw/AM-JKLV6iEVArM2untcUS2z7RMljBf0VRTANc7-3IfVRi3IKM3z-gLN_6Y25sR2L4rZawGv_FWbBoYjSCb4M9Um86G3y2cKZLD5eAZU9XaB-ot52PTvkuatNfMIP4iaeNltjMArCFiRCR3yjvdg8Y51-hU9d=s512-no?authuser=2"
            alt="desenho de quadrados representando camadas">
        </div>
        <div class="categoryCard_textWrap">
          <p class="categoryCard_title">Geoportal</p>
          <p class="categoryCard_description">Mapa digital interativo para visualização das camadas públicas e
            impressão personalizada</p>
        </div>
      </a>

      <a class="categoryCard_structure" href="https://www.sigeo.niteroi.rj.gov.br/pages/servicos"
        rel="noopener noreferrer" title="Serviços">
        <div class="categoryCard_imgWrap">
          <img class="categoryCard_img"
            src="https://lh3.googleusercontent.com/pw/AM-JKLX_qHIlCYTeNeR0O9a-xHpn4i-cMlOkAlwRD0Ea0iVr2rJdjScAAQ8F9S6e0o4uxkpnavV3OPLPHC36ntb5E19e3XNuuqUVfZwNLejMRiK8WEKKkrGnfPaY7URFW1hyTKsw-Zt77PgnyTjO-El3WzLa=s512-no?authuser=2"
            alt="desenho de um monitor e um celular com engrenagens e um ícone de checkout">
        </div>
        <div class="categoryCard_textWrap">
          <p class="categoryCard_title">Serviços</p>
          <p class="categoryCard_description">Ferramentas interativas que facilitam a consulta aos serviços
            oferecidos pelo município</p>
        </div>
      </a>

      <a class="categoryCard_structure" href="https://www.sigeo.niteroi.rj.gov.br/pages/mapas" rel="noopener noreferrer"
        title="Mapas">
        <div class="categoryCard_imgWrap">
          <img class="categoryCard_img"
            src="https://lh3.googleusercontent.com/pw/AM-JKLVpkPHo3dKeIe3rr0XFflNiY8nz6R3Kuo2O0d-VmqQwS9UnOx6rU9_2Ixex0g-ChHu7Qtu5qo9wfSbpLna8u-u3wCPBkyccW1Gyt1cMKsXg7E9ByXxSnZ_0BVeCw-QJ3sxBmrK9n4WV6-ctx0JYuf6u=s512-no?authuser=2"
            alt="desenho de um mapa meio aberto com um ícone de localização">
        </div>
        <div class="categoryCard_textWrap">
          <p class="categoryCard_title">Mapas</p>
          <p class="categoryCard_description">Mapas produzidos disponíveis para download</p>
        </div>
      </a>

      <a class="categoryCard_structure"
        href="https://drive.google.com/u/0/uc?id=1LKoH0e5JiBIBrup1a7g1OuXDayPUpUAw&amp;export=download"
        rel="noopener noreferrer" title="Metadados">
        <div class="categoryCard_imgWrap">
          <img class="categoryCard_img"
            src="https://lh3.googleusercontent.com/pw/AM-JKLVp64x-S9msnerwm16mgrLFcO7AhSy9ptXYS-NeFfBrKtjxW4yWvjZ_YpZG8UXToijq4QQu0PnM5Pf1r1SbigPYnKlAZSpwyMELVc9Y11pUjgNPy5P0igAiNIRiEncM8ywgGlKKB9TMID0nSkeHxyKR=s512-no?authuser=2"
            alt="desenho de uma lupa com um gráfico dentro">
        </div>
        <div class="categoryCard_textWrap">
          <p class="categoryCard_title">Metadados</p>
          <p class="categoryCard_description">Informações adicionais sobre os dados públicos disponibilizados no
            portal de dados abertos</p>
        </div>
      </a>

      <a class="categoryCard_structure" href="https://github.com/SIGeo-Niteroi" rel="noopener noreferrer"
        title="Códigos Públicos">
        <div class="categoryCard_imgWrap">
          <img class="categoryCard_img"
            src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/developer-icon.png"
            alt="desenho de um terminal de computador com símbolos de maior e menor">
        </div>
        <div class="categoryCard_textWrap">
          <p class="categoryCard_title">Códigos Públicos</p>
          <p class="categoryCard_description">Portal público com os códigos utilizados no desenvolvimento de
            aplicações</p>
        </div>
      </a>
    </div>
  </div>
</section>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
  }

  a,
  p {
    margin: 0 !important;
    line-height: normal !important;
    text-decoration: none !important;
    outline: none !important;
    /* Retirar as margens e ligh-height de padrão do HUB nos elemntos*/
  }

  .aplicationsAndMaterials_section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 80px 0px;
  }

  .aplicationsAndMaterials_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  #aplicationsAndMaterials_title {
    font-family: "Poppins";
    color: #fff;
    text-align: center;
    font-size: 45px !important;
    margin: 0 !important;
  }

  .aplicationsAndMaterials_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
  }

  .categoryCard_structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: rgba(240, 240, 240, 0.2) !important;
    border-radius: 20px;
    width: 200px;
    height: 230px;
    overflow: hidden;
    transition: all .5s ease-out;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }

  .categoryCard_main {
    display: block;
    text-align: center;
  }

  .categoryCard_structure:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }

  .categoryCard_img {
    width: 80px;
    transition: all .5s ease-out;
  }

  .categoryCard_structure:hover .categoryCard_img {
    filter: brightness(200%) contrast(80%) saturate(200%) blur(0px) hue-rotate(150deg);
    opacity: 0.8;
  }

  .categoryCard_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    width: 100%;
    margin: 10px 0 !important;
    font-size: 16px;
    font-family: 'Poppins';
    color: #fff;
    transition: all .5s ease-out;
  }

  .categoryCard_description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    width: 100%;
    font-size: 12px;
    padding: 0 3px;
    font-family: 'Poppins';
    color: #fff;
    transition: all .5s ease-out;
  }

  @media(max-width: 900px) {
    .aplicationsAndMaterials_cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media(max-width: 670px) {
    .aplicationsAndMaterials_cards {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }

  @media(max-width: 520px) {
    .aplicationsAndMaterials_cards {
      gap: 20px;
    }
  }

  @media(max-width: 425px) {
    .categoryCard_structure {
      width: 160px;
      height: 200px;
    }

    .categoryCard_img {
      width: 60px;
    }

    .categoryCard_description {
      font-size: 10px;
    }
  }

  @media(max-width: 375px) {

    .aplicationsAndMaterials_cards {
      grid-template-columns: 1fr;
    }

    #aplicationsAndMaterials_title {
      font-size: 40px !important;
    }

    .categoryCard_structure {
      width: 90%;
      height: 230px;
    }

    .categoryCard_img {
      width: 80px;
    }

    .categoryCard_title {
      font-size: 16px;
    }

    .categoryCard_description {
      font-size: 12px;
    }
  }

  @media(max-width: 320px) {

    #aplicationsAndMaterials_title {
      font-size: 30px !important;
    }
  }
</style>