<!-- PRIMEIRO CARD -->

<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="calcite-web">
        <div class="card-base2" style="background: rgba(255, 255, 255, 0.2); box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); backdrop-filter: blur(8.5px); -webkit-backdrop-filter: blur(8.5px); border-radius: 10px; border: 1px solid rgba(255, 255, 255, 0.18);">
            <div class="card-image-wrap">
                <img alt="mapa niteroi" class="card-image" src="https://lh3.googleusercontent.com/pw/AMWts8Ab6Pj30ttct945zcmAVDKHKxedEHuXHHcYw4a-GCZxBp5ahUc9gJqVZ2LdcKuVKjC_DKEzlh5SxuRI4YWl6_kPqViDYSDyK4XyL8TeujpDAX--ryHH9dAZGbvbuyIjZ83b6WVNHahMxtqP4He2eBAY=w480-h270-s-no?authuser=2" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily), Avenir Next;">
            </div>
            <div class="card-image-wrap">
                <div class="card-image-caption">
                    <b>Mapa de Localização de Niterói</b>
                </div>
            </div>
            <div class="card-content">
                <div class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-default" href="https://drive.google.com/u/0/uc?id=1BUnS0LdVg_ieIr8r5LdKBzVKrIXZv4mW&amp;export=download" target="_blank">Download aqui</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SEGUNDO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa bairros" class="card-image" src="https://lh3.googleusercontent.com/pw/AM-JKLXmZlLvByDBFgGUP2n6Iawd1Kp4t-nCqd28BY067eBvJ4oObYNKbIUgK_EJVVQMqJEsttNRtdzu4f3A7bQsMvKlWMr0OHGz8m8S6N5LeP98kmpTlkYARROLD4lEEp8tSOIXqWAeCrEqIc3yewPBh0xD=w480-h270-no?authuser=2" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa de Limite de Bairros</b></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              <a class="btn btn-default" href="https://drive.google.com/u/2/uc?id=1wlJAWls_BSHJXDN2_mpyx1aXJFf6qq_N&amp;export=download" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- TERCEIRO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AM-JKLU9pg8C1ZqDNvs1p5-yaBtBwzEAR3_F0S1nJOZ0LoJkkpMSWnrfzl7I6mImLkn_xJzsk_BwHVaL292OhMZGfPZzb126HVSOvCZTeNAw4kEZO_kH9c1I7SbKd32fOE1-1Hvd1Vx66Tu7ECgOPDYlQ-dX=w480-h270-no?authuser=2" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa de Regiões Administrativas</b></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://drive.google.com/u/0/uc?id=1hWwKpv4iYmTTcFuxZdu8xYyzeYBgUWGG&amp;export=download" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    
<!-- QUARTO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc_-1HtjmyHF-GG1RNrkBP0ro8jIWe8Oo9fQvFZbZZWfTjz9dPhNa96VFFwd8tuZrhxkviWcZY-uOgD2jvj2yaUYRxrQZPL-HKc8u1KJ3QPtvzujHC0XvKbihKnlE1N-0mIWuwPXO79CRQKSjGtLEIrw=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa dos Bairros e Regiões</b></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_1_-_Bairros_e_Regioes.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- QUINTO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc8-En4oqUpQuJYdldPH__RjH4omDboqabHE-n5MIJnaa-dVBD8OXrFYBnaIk9FGCrqAnHyWJ2CAF3twSIC62bQtI8zhm5Q3ZoZdypBCk-tpyG7nRvEHTeTVHly-KpSr5Zmczy6rNa684TdVrPLrqHzf=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><span style="font-weight: 600;">Mapa do Macrozoneamento</span><br></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_2_-_Macrozonas.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- SEXTO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc8ndVhj9SWUq6SJ9j9SOaaRMvA6wgB6hz6ALJQ6mTF2a9b9qe9TMJquOJDKQZcpLr222yOrCw3loUf_7KTDvfn0ie-lnFbzKfc2nE9hGdebisKZ1v1Mj3Y-B0B17qXcM1W9nOj3S4oo8ObTi7idDsQF=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa das&nbsp;</b><span style="background-color: rgba(255, 255, 255, 0.2);"><b>Macroáreas</b></span></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_3_-_Macroareas.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- SETIMO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc9AMcd1uHGo_S3K5mgJ5R5nW0TIrbQ6f53eJNrTlrDfA56Wa4Kcm9mu3UI3jNQbyP2y8dH7-_XSrl56fwUVMOfXDRFiyslTnw-bptfM-3-f5W2FBuVHLP6szS5hvjDGDHuZ1YjN4IzpIlYStMIflpDK=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa dos&nbsp;</b><span style="background-color: rgba(255, 255, 255, 0.2);"><b>Eixos de Estruturação&nbsp;e Centralidade</b></span></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_4_-_Eixos_de_Estruturacao_e_Centralidade.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- OITAVO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc9EZq5XRXiUyfLKE75etpRuffza82PEr0-pb3i2QuB697SPjPCMEa9oQxEIbibuR5XoN4HeyU6VSxTnj2awvbedmQYJbwQ8cKv9odct-LJID3Jjq82XLprcTurCwBrtUz2zemqVwCEcBXh-lGeGKnQF=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa da&nbsp;</b><span style="background-color: rgba(255, 255, 255, 0.2);"><b>Rede Territorial Ambiental</b></span></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_5_-_Rede_Territorial_Ambiental_e_Sistema_de_%C3%81reas_Protegidas%2C_%C3%81reas_Verdes_e_Espa%C3%A7os_Livres.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- NONO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc8oPrTIxJFufhLaQMzx5bmcZCDvcuQvyk8NBELP9ClSMzFb3-eO4He75sp5ZzqOIlUads19oakM3AKxtoHFSV8-HafyZUAkh4vk8DelCDeJqv8Dyo4P9LNoBHD7Q27kFOQpp9VGnSgPNd_bpRvn3bhX=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa das&nbsp;</b><span style="background-color: rgba(255, 255, 255, 0.2);"><b>Bacias&nbsp;</b></span><span style="background-color: rgba(255, 255, 255, 0.2);"><b>Hidrográficas</b></span></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_6_-_Bacias_Hidrograficas.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- DECIMO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc-WuMUmeiyul3lex7GE1-CHuyVIwNDBLRvrDXbp7qS0bswJA738AqUm80kBWk2giJal1n-DwqL5orKwgW-mVQ0N5nxe5Ku0ASLHeisXPOWKWN1FR_uDFkyt2yJ-_rZdx0k39dqMNexrTq1SmETSRLjF=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa das&nbsp;</b><span style="background-color: rgba(255, 255, 255, 0.2);"><b>Bacias Aéreas</b></span></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_7_-_Bacias_A%C3%A9reas.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- DECIMO PRIMEIRO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc8HLfxBTaXF438m4maw3pQ6J1FbugVNQ0Km0Uf96UbxCrM1i9XbfCIu2JcyZ-jldHmoN75i6wOckhsJW__S9pvaXIt8GN0o2P0lu5LVu-Wtb9hTklP1vstw5NxqoxvaA9OfXnA-jkUBrAjnyS74Mhu1=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa das&nbsp;</b><span style="background-color: rgba(255, 255, 255, 0.2);"><b>Zonas de Especial Interesse Social</b></span></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_8_-_Zonas_de_Especial_Interesse_Social.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- DECIMO SEGUNDO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc_V-xJR9Pk4ImjQxuWxancfdFX8IKDL5xrfkads7ix0MPKVj0WDzh0sAT92sLe0a52r-74Dr6e1kESr5mzW8OJuqnoWD74I8AYkMrDPI82p3GqBuvOPeLLaDUdTrRnzhqYPTV3hjKQ_mKSJ_eGy3bYF=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa da&nbsp;</b><b style="font-family: var(--fontsBaseFamily),Avenir Next;">Zona Especial de Preservação do Ambiente Cultural</b></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_9_-_Zona_Especial_de_Preserva%C3%A7%C3%A3o_do_Ambiente_Cultural.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- DECIMO TERCEIRO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc9I3dgb7GZlFjJiqc9oIpseZAKxRBCx6pK13vAkUmhydaX61gv-MZWtBWDZFqRmabB1cMgCRLAyQmpQdqs4TTKzD4A7zIYScN-OVuc3YnB0l7jmmmnXMnKIEFnaXdboIqqIR4aaRu0synp2saSbIzPR=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa do&nbsp;</b><span style="background-color: rgba(255, 255, 255, 0.2);"><b>Perímetro&nbsp;de incentivo ao desenvolvimento&nbsp;</b></span><span style="background-color: rgba(255, 255, 255, 0.2);"><b>econômico</b></span></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_10_-_Perimetro_de_incentivo_ao_desenvolvimento_economico.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      
<!-- DECIMO QUARTO CARD -->

 <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="calcite-web">
        <div class="card-base2" style="background: rgba( 255, 255, 255, 0.2 );  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  backdrop-filter: blur( 8.5px );  -webkit-backdrop-filter: blur( 8.5px );  border-radius: 10px;  border: 1px solid rgba( 255, 255, 255, 0.18 );">
          <div class="card-image-wrap">
            </div><div class="card-image-wrap"><img alt="mapa regiões" class="card-image" src="https://lh3.googleusercontent.com/pw/AIL4fc9Mpt2W2MkzTElCqeBcWygt1E_Qnu20Le7RdQ0v-rLOg2egbumZIRZdA_3dMTTqkwyXQoILqFSQki-_ng2b7kAqeu-LSJD4-afkaNGThWr58sESTd3tYRHccYqJl-WMwyRnYXxLgzlEtrNCtVk1Ijw_=w480-h270-s-no?authuser=4" style="border-radius: 10px; color: currentcolor; font-family: var(--fontsBaseFamily),Avenir Next;"></div><div class="card-image-wrap">
            <div class="card-image-caption"><b>Mapa das&nbsp;</b><span style="background-color: rgba(255, 255, 255, 0.2);"><b>Ações Prioritárias no Sistema Viário Estrutural e Transporte Coletivo</b></span></div></div><div class="card-content">
            <div aria-label="actions" class="btn-group btn-group-justified" role="group">
              </div><div aria-label="actions" class="btn-group btn-group-justified" role="group"><a class="btn btn-default" href="https://www.ortofotos.niteroi.rj.gov.br/arquivos/plano_diretor/Mapa_11_-_A%C3%A7%C3%B5es_Priorit%C3%A1rias_no_Sistema_Vi%C3%A1rio_Estrutural_e_Sistema_de_Transporte_Coletivo.zip" target="_blank">Download aqui</a>
            </div>
          </div>
        </div>
      </div>
      </div>

<style> 

.card-base2 {
  margin: 0 auto;
  max-width: 550px !important;
}

.calcite-web{
 padding-top: 20px;
 padding-bottom: 20px;
}

.btn-default {
border-radius: 10px
}

</style>