<div class="topic">
  <button class="acoes__button" data-toggle="collapse" data-target="#useInstructionsButton">
    <div class="acoes__icon">
      <img class="acoes__button-icon"
        src="https://lh3.googleusercontent.com/pw/AL9nZEXrYAeeF8fAuMMMeK-R6uT0zs3RhhCwz7yeGvFrfMTz8YFlKUvsH9wGgTHmQYto0JWgk4A_KG3XHzUW7sUQiVQTHFKvNTTeyf8l-NiPME1qxHtFdqH-PfL88YffQHENoLixQuDE_oQxw92k7jrS_jTG=s32-no?authuser=2">
    </div>Perguntas Frequentes
    <img class="acoes__button-icon" id="right-arrow-icon"
      src="https://www.ortofotos.niteroi.rj.gov.br/arquivos/Imagens/HUB/Pag_Ortofotos/right-arrow.png">
  </button>
  <div id="useInstructionsButton" class="collapse">
    <div>
      <div class="col-xs-12 accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-target="#question1" style="background-color:#f0f0f0; color:#1c1b1b;">
            <button data-target="#question1" class="accordion btn btn-sm btn-link" aria-labelledby="question1-title"
              style="color:#1c1b1b">
              <svg style='fill:#1c1b1b'>
                <title>Menu Lateral</title>
                <use xlink:href='#ember-arcgis-hub-components-hub-icons-angle-up'></use>
              </svg>
            </button>
            <h5 id="question1-title" class="panel-title">O que é o HUB SIGeo?</h5>
          </div>
          <div id="question1" class="panel-collapse collapse in">
            <span>
              <div class="panel-body" style="background-color:#f5f5f5; color:#4c4c4c;">
                O HUB SIGeo foi desenvolvido para apresentar informações gerais sobre o nosso trabalho, compilar as
                aplicações que são elaboradas pela nossa equipe em uma única plataforma, além de disponibilizar os dados
                do
                munícipio de Niterói de forma transparente ao usuário. Toda a base geográfica municipal disponível pode
                ser
                acessada na seção <a href="https://www.sigeo.niteroi.rj.gov.br/pages/dados-abertos" target="_blank"
                  style="color: #000; text-decoration: underline;">Dados Abertos</a>.
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="col-xs-12 accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-target="#question2" style="background-color:#f0f0f0; color:#1c1b1b">
            <button data-target="#question2" class="accordion btn btn-sm btn-link" aria-labelledby="question2-title"
              style="color:#1c1b1b">
              <svg style='fill:#1c1b1b'>
                <title>Menu Lateral</title>
                <use xlink:href='#ember-arcgis-hub-components-hub-icons-angle-up'></use>
              </svg>
            </button>
            <h5 id="question2-title" class="panel-title">Qual a fonte dos dados disponibilizados no site? </h5>
          </div>
          <div id="question2" class="panel-collapse collapse in">
            <span>
              <div class="panel-body" style="background-color:#f5f5f5; color:#4c4c4c;">
                Os dados dispostos na seção Dados Abertos são de responsabilidade de diferentes secretarias, sendo estas
                encarregadas pela elaboração e atualização dos mesmos. O objetivo do SIGeo consiste, portanto, em fazer
                o
                gerenciamento e a manutenção dessas informações no banco de dados para disponibilizá-las ao público.
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="col-xs-12 accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-target="#accordion-1655139482920"
            style="background-color:#f0f0f0; color:#1c1b1b;">
            <button data-target="#accordion-1655139482918" class="accordion btn btn-sm btn-link"
              aria-labelledby="accordion-1655139482920-title" style="color:#1c1b1b">
              <svg style='fill:#1c1b1b'>
                <title>Menu Lateral</title>
                <use xlink:href='#ember-arcgis-hub-components-hub-icons-angle-up'></use>
              </svg>
            </button>
            <h5 id="accordion-1655139482920-title" class="panel-title">Como os dados são coletados? </h5>
          </div>
          <div id="accordion-1655139482920" class="panel-collapse collapse in">
            <span>
              <div class="panel-body" style="background-color:#f5f5f5; color:#4c4c4c;">
                A maior parte dos dados disponíveis são adquiridos via fonte administrativa, ou seja, por meio das
                secretarias, departamentos e demais estruturas que compõem a Prefeitura de Niterói. Os dados enviados
                por
                essas fontes passam por um processo de geocodificação dos endereços, de modo a atribuir coordenada
                geográfica para cada ponto. Além disso, também coletamos dados relacionados ao município de Niterói de
                fontes externas. Caso queira saber sobre a coleta de algum dado específico, entre em contato com a
                secretaria responsável. Você consegue essa informação através da planilha de metadados das
                camadas&nbsp;<a
                  href="https://drive.google.com/u/0/uc?id=1LKoH0e5JiBIBrup1a7g1OuXDayPUpUAw&amp;export=download"
                  target="_blank" style="color: #000; text-decoration: underline;">clicando aqui</a>.
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="col-xs-12 accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-target="#accordion-1655139482921"
            style="background-color:#f0f0f0; color:#1c1b1b;">
            <button data-target="#accordion-1655139482921" class="accordion btn btn-sm btn-link"
              aria-labelledby="accordion-1655139482921-title" style="color:#1c1b1b">
              <svg style='fill:#1c1b1b'>
                <title>Menu Lateral</title>
                <use xlink:href='#ember-arcgis-hub-components-hub-icons-angle-up'></use>
              </svg>
            </button>
            <h5 id="accordion-1655139482921-title" class="panel-title">Com que frequência os dados e informações
              dispostas
              aqui são atualizadas? </h5>
          </div>
          <div id="accordion-1655139482921" class="panel-collapse collapse in">
            <span>
              <div class="panel-body" style="background-color:#f5f5f5; color:#4c4c4c;">
                Os dados disponibilizados aqui são atualizados à medida que novos estiverem disponíveis, portanto, não
                há
                uma periodicidade exata. Para garantir que essa verificação seja feita sempre que possível, procuramos
                manter constante contato com as secretarias responsáveis para que essas mantenham essas informações
                atualizadas no nosso banco de dados.
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="col-xs-12 accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-target="#accordion-1655139482922"
            style="background-color:#f0f0f0; color:#1c1b1b">
            <button data-target="#accordion-1655139482922" class="accordion btn btn-sm btn-link"
              aria-labelledby="accordion-1655139482922-title" style="color:#1c1b1b">
              <svg style='fill:#1c1b1b'>
                <title>Menu Lateral</title>
                <use xlink:href='#ember-arcgis-hub-components-hub-icons-angle-up'></use>
              </svg>
            </button>
            <h5 id="accordion-1655139482922-title" class="panel-title">Preciso de um login para utilizar o Geoportal?
            </h5>
          </div>
          <div id="accordion-1655139482922" class="panel-collapse collapse in">
            <span>
              <div class="panel-body" style="background-color:#f5f5f5; color:#4c4c4c;">
                Você pode acessar as camadas e informações públicas clicando no botão de “Acesso Público”. A criação de
                login de acesso é exclusivo para servidores da Prefeitura de Niterói mediante solicitação através do
                nosso
                e-mail de atendimento.
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="col-xs-12 accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-target="#accordion-1655139482923"
            style="background-color:#f0f0f0; color:#1c1b1b;">
            <button data-target="#accordion-1655139482923" class="accordion btn btn-sm btn-link"
              aria-labelledby="accordion-1655139482923-title" style="color:#1c1b1b">
              <svg style='fill:#1c1b1b'>
                <title>Menu Lateral</title>
                <use xlink:href='#ember-arcgis-hub-components-hub-icons-angle-up'></use>
              </svg>
            </button>
            <h5 id="accordion-1655139482923-title" class="panel-title">Como posso usar o conteúdo aqui disposto?</h5>
          </div>
          <div id="accordion-1655139482923" class="panel-collapse collapse in">
            <span>
              <div class="panel-body" style="background-color:#f5f5f5; color:#4c4c4c;">
                O HUB SIGeo fornece dados e análises importantes que agências governamentais, organizações com e sem
                fins
                lucrativos, pesquisadores, estudantes, grupos comunitários e o público podem usar em seu trabalho,
                planejamento e processo de tomada de decisão. Os dados e a análise podem ajudar na produção de estudos
                ambientais, viabilidade econômica, crescimento demográfico, entre outros que podem ser usados para
                determinar alocações de recursos com base na necessidade.
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="col-xs-12 accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-target="#question7" style="background-color:#f0f0f0; color:#1c1b1b">
            <button data-target="#question7" class="accordion btn btn-sm btn-link" aria-labelledby="question7-title"
              style="color:#1c1b1b">
              <svg style='fill:#1c1b1b'>
                <title>Menu Lateral</title>
                <use xlink:href='#ember-arcgis-hub-components-hub-icons-angle-up'></use>
              </svg>
            </button>
            <h5 id="question7-title" class="panel-title">Mais dados podem ser adicionados?</h5>
          </div>
          <div id="question7" class="panel-collapse collapse in">
            <span>
              <div class="panel-body" style="background-color:#f5f5f5; color:#4c4c4c;">
                Novos dados podem ser disponibilizados à medida que são produzidos ou demandados pelas secretarias do
                município e que tenham interesse público. Também podemos disponibilizar novas informações baseadas no
                retorno do usuário, incluindo solicitações de dados ou funcionalidades adicionais. Você pode nos enviar
                esse
                feedback através da nossa pesquisa de satisfação <a href="https://arcg.is/1Hvf980" target="_blank"
                  style="color: #000; text-decoration: underline;">clicando aqui</a>.
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="col-xs-12 accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-target="#question8" style="background-color:#f0f0f0; color:#1c1b1b;">
            <button data-target="#question8" class="accordion btn btn-sm btn-link" aria-labelledby="question8-title"
              style="color:#1c1b1b">
              <svg style='fill:#1c1b1b'>
                <title>Menu Lateral</title>
                <use xlink:href='#ember-arcgis-hub-components-hub-icons-angle-up'></use>
              </svg>
            </button>
            <h5 id="question8-title" class="panel-title">Como posso solicitar informações que não encontrei no site?
            </h5>
          </div>
          <div id="question8" class="panel-collapse collapse in">
            <span>
              <div class="panel-body" style="background-color:#f5f5f5; color:#4c4c4c;">
                Entre em contato conosco através do nosso e-mail atendimento@sigeo.niteroi.rj.gov.br para que possamos
                atendê-lo da melhor forma.
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  @keyframes rotateAnimationHover {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(120deg);
    }

    70% {
      transform: rotate(80deg);
    }

    80% {
      transform: rotate(105deg);
    }

    100% {
      transform: rotate(90deg);
    }
  }

  @keyframes rotateAnimationReturn {
    0% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(30deg);
    }

    70% {
      transform: rotate(-10deg);
    }

    80% {
      transform: rotate(-15deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .topic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .acoes__button {
    display: flex;
    background: #b8591f;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    align-items: center;
    color: #fff;
    font-family: 'Poppins';
    gap: 10px;
    margin: 0px 0px 30px;
    flex-direction: row;
    font-weight: 400;
    transition: all .5s ease-out;
  }

  .acoes__button:hover {
    background-color: #ee7a31;
    color: #001A2D;
  }

  .acoes__button:focus {
    box-shadow: none;
    outline-color: none;
  }

  .acoes__button-icon {
    width: 30px;
  }

  #right-arrow-icon {
    transition: all .5s ease-out;
    animation: rotateAnimationReturn 0.3s linear forwards;
  }

  .acoes__button:hover #right-arrow-icon {
    animation: rotateAnimationHover 0.4s linear forwards;
  }

  .panel,
  .panel-heading.collapsed,
  .panel-default {
    border: none;
    border-radius: 10px;
  }

  .panel-heading {
    color: #001A2D;
    border-radius: 10px 10px 0 0;
    background-color: #e9e7e7;
  }

  .panel-body {
    padding: 15px;
    max-width: 900px;
    background-color: #eae5d2 !important;
    color: #001A2D !important;
    border-radius: 0 0 10px 10px;
  }

  .accordion.btn.btn-sm.btn-link {
    outline: none !important;
    box-shadow: none !important;
  }

  .accordion.btn.btn-sm.btn-link:hover {
    outline: none !important;
  }
</style>